# 1. Intersection of two lists

In [27]:
l1=[1,2,3,4,5]
l2=[6,2,4,7,8]
for i in l1:
    if i in l2:
        print(i)

2
4

In [28]:
import numpy as np
np.intersect1d(l1,l2)

array([2, 4])

# 2. Remove duplicate elements from a list

In [29]:
l1=[1,2,3,4,5,3,4,5,6,7,6,8,9,0]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[6, 2, 4, 7, 8, 1, 3, 5, 9, 0]

# 3. Largest number without using function

In [33]:
l1=[12,4,3,253,55]
num=l1[0]
for i in l1:
    if i>=num:
        num=i
print(num)

253


# 4. Reversing a string without a function

In [34]:
s1="Dheeraj"
s2=s1[::-1]
print(s2)

jareehD

# 5. Sting Palindrome

In [36]:
s1="madm"
ps=(s1==s1[::-1])
print(ps)

False

# 6. ip - aBcdE , op - AbCDe

In [39]:
s1="aBcdE"
s2=""
for i in s1:
    if 'a'<=i<='z':
        s2=s2+i.upper()
    elif 'A'<=i<='Z':
        s2=s2+i.lower()
    else:
        pass
print(s2)

AbCDe

# 7. OOps

In [40]:
# Method overriding
class Animal():
    def speak(self):
        print("Animal Sound")

class Dog(Animal):
    def speak(self):
        print("Bhoww")
class Cat(Animal):
    def speak(self):
        print("Meww")
d=Dog()
c=Cat()
d.speak()
c.speak()

Bhoww
Meww

In [52]:
# Method Overloading
class Calc():
    def add(self,*args):
        print(sum(args))

c=Calc()
c.add(1,2,3)
c.add(12,34,56,77,88)

6
267

# 8. Mysql operations

In [53]:
# Normal statement
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",password="kiit",database="cdac")
cur=con.cursor()

q1="select * from employee_1"
cur.execute(q1)
res=cur.fetchall()
for i in res:
    print(i)

(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 4)

In [54]:
# Prepared statement
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",password="kiit",database="cdac")
cur=con.cursor()

q1="select * from employee_1 where Name=%s and Name like %s"
cur.execute(q1,("Aarti Desai","A%"))
res=cur.fetchall()
for i in res:
    print(i)

(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 4)

In [61]:
# Update statement
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",password="kiit",database="cdac")
cur=con.cursor()

q1="update employee_1 set Name=%s where Name like %s"
cur.execute(q1,("Aarti Desai","A%"))
print(cur.rowcount)
con.commit()

q2="select * from employee_1"
cur.execute(q2)
res=cur.fetchall()
for i in res:
    print(i)

1
(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 4)