# Day 1 Tasks

# Task1:-

In [3]:
'''
NAME | DEPT  
----------
ravi | sales
manu | purch
hari | accts

Expected:-

NAME |sales purch accts
-------------------------
ravi |1       0      0
manu |0       1      0
hari |0       0      1

NAME | DEPT  
------------
ravi | 1
manu | 2
hari | 3


NAME | DEPT  
------------
ravi | 0.1
manu | 0.2
hari | 0.3
'''

'\nNAME | DEPT  \n----------\nravi | sales\nmanu | purch\nhari | accts\n\nExpected:-\n\nNAME |sales purch accts\n-------------------------\nravi |1       0      0\nmanu |0       1      0\nhari |0       0      1\n\nNAME | DEPT  \n------------\nravi | 1\nmanu | 2\nhari | 3\n\n\nNAME | DEPT  \n------------\nravi | 0.1\nmanu | 0.2\nhari | 0.3\n'

In [8]:
# Without Dataframe inbuilt method
#-------------------------------------

import pandas as pd
data={"NAME":["ravi","manu","hari"],
      "DEPT":["sales","purch","accts"]}
df1=pd.DataFrame(data)
print(df1)
print()

ed=dict()
n=[]
for i in data["NAME"]:
    n.append(i)
    ed[i]=[j for j in range(len(data["NAME"]))]
    c=0
    for j in range(len(data["NAME"])):
        ed[i][j]=None
df2=pd.DataFrame(ed).T
df2.columns=[i for i in df1["DEPT"]]
print(df2)

print("\n","*"*10,"Expected Output : ".upper(),"*"*10)
print()
c=0
for j in df1["NAME"]:    
    cnt=0
    for i in df1["DEPT"]:
        l=[]
        if(i==df1["DEPT"][c]):
            df2[df1["DEPT"][c]][cnt]=1
        else:
            df2[df1["DEPT"][c]][cnt]=0
        cnt=cnt+1
    c=c+1
print(df2)
print()
l1=[]
df3=pd.DataFrame(df1["NAME"])
for i in range(0,len(df1["DEPT"])):
    l1.append(i+1)  
df3["Dept"]=l1
#print(df1)
print()
print(df3)

print()
l2=[]
for i in df3["Dept"]:
    l2.append(i/10)
df4=pd.DataFrame(df3["NAME"])
df4["Dept"]=l2
print(df4)

   NAME   DEPT
0  ravi  sales
1  manu  purch
2  hari  accts

     sales purch accts
ravi  None  None  None
manu  None  None  None
hari  None  None  None

 ********** EXPECTED OUTPUT :  **********

     sales purch accts
ravi     1     0     0
manu     0     1     0
hari     0     0     1


   NAME  Dept
0  ravi     1
1  manu     2
2  hari     3

   NAME  Dept
0  ravi   0.1
1  manu   0.2
2  hari   0.3

In [13]:
# With pandas inbuilt method :
#-----------------------------
import pandas as pd
data={"NAME":["ravi","manu","hari"],
      "DEPT":["sales","purch","accts"]}
df1=pd.DataFrame(data)
print(df1)
print()
# 1 
df2=pd.get_dummies(df1["DEPT"]).set_index(df1["NAME"])
print(df2)
print()

# 2
df3 = df1.copy()
df3['Dept'] = range(1, len(df3) + 1)
print(df3)
print()

# 3
df4 = df3.copy()
df4['Dept'] = df4['Dept'] / 10
print(df4)

   NAME   DEPT
0  ravi  sales
1  manu  purch
2  hari  accts

      accts  purch  sales
NAME
ravi      0      0      1
manu      0      1      0
hari      1      0      0

   NAME   DEPT  Dept
0  ravi  sales     1
1  manu  purch     2
2  hari  accts     3

   NAME   DEPT  Dept
0  ravi  sales   0.1
1  manu  purch   0.2
2  hari  accts   0.3

# Task2:-

In [4]:
'''
convert "name" column to upper case

NAME   | DEPT  
------------------
ravi   | sales
manu   | purch
hari   | accts
ranjan | finance

Expected:-
NAME   | DEPT  
------------------
RavI   | sales
ManU   | purch
HarI   | accts
RanjaN | finance
'''

'\nconvert "name" column to upper case\n\nNAME   | DEPT  \n------------------\nravi   | sales\nmanu   | purch\nhari   | accts\nranjan | finance\n\nExpected:-\nNAME   | DEPT  \n------------------\nRavI   | sales\nManU   | purch\nHarI   | accts\nRanjaN | finance\n'

In [89]:
# Using .loc :
#--------------
import pandas as pd
d2={
    "NAME":["ravi","manu","hari","ranjan"],
    "DEPT":["sales","purch","accts","finanace"]
}
df=pd.DataFrame(d2)
df.loc[df['NAME'] == 'ravi', 'NAME'] = 'RavI'
df.loc[df['NAME'] == 'manu', 'NAME'] = 'ManU'
df.loc[df['NAME'] == 'hari', 'NAME'] = 'HarI'
df.loc[df['NAME'] == 'ranjan', 'NAME'] = 'RanjaN'
df

     NAME      DEPT
0    RavI     sales
1    ManU     purch
2    HarI     accts
3  RanjaN  finanace

In [1]:
# Using list comprehesion and .upper() :
#----------------------------------------
import pandas as pd
data={
    "NAME":["ravi","manu","hari","ranjan"],
    "DEPT":["sales","purch","accts","finanace"]
}
df1=pd.DataFrame(data)
print(df1)
print()
df1["NAME"]=[i[0].upper()+i[1:len(i)-1]+i[len(i)-1].upper() for i in df1["NAME"]]
print(df1)
print()

     NAME      DEPT
0    ravi     sales
1    manu     purch
2    hari     accts
3  ranjan  finanace

     NAME      DEPT
0    RavI     sales
1    ManU     purch
2    HarI     accts
3  RanjaN  finanace

# Task3:-

In [5]:
'''
FULLNAME
---------
a-b-c 
x-y-z
p-q-r

Expected:-
FULLNAME | first mid last
------------------------------
a-b-c    |   a    b    c
x-y-z    |   x    y    z
p-q-r    |   p    q    r
'''

'\nFULLNAME\n---------\na-b-c \nx-y-z\np-q-r\n\nExpected:-\nFULLNAME | first mid last\n------------------------------\na-b-c    |   a    b    c\nx-y-z    |   x    y    z\np-q-r    |   p    q    r\n'

In [1]:
# Using Split Function :
#-----------------------
import pandas as pd
data={"FULLNAME":["a-b-c","x-y-z","p-q-r"]}
df1=pd.DataFrame(data)
l1=[]
for i in df1["FULLNAME"]:
    l1.append(i.split('-'))
f1=[]
f2=[]
f3=[]
for j in l1:
    f1.append(j[0])
    f2.append(j[1])
    f3.append(j[2])
df1["FName"]=f1
df1["MName"]=f2
df1["LName"]=f3
df1

  FULLNAME FName MName LName
0    a-b-c     a     b     c
1    x-y-z     x     y     z
2    p-q-r     p     q     r

# Task 4:-

In [6]:
'''
data.csv:- data.csv to data.par .data.fea ,data.json
Convert the CSV file into a 	parquet format file 
		              	feather format file
		                json format file

'''

'\ndata.csv:- data.csv to data.par .data.fea ,data.json\nConvert the CSV file into a \tparquet format file \n\t\t              \tfeather format file\n\t\t                json format file\n\n'

# Task5:-

In [7]:
'''
Benchmark this & df.read_Csv()/read_feather()/read_parquet()
alst = list(range(1,999999))
newlst = []

# code-1
for elem in alst:
	newlst.append(elem*elem)

#code-2
newlst = list(map(lambda x : x*x, alst))

#code-3
newlst = [e*e for e in alst]
'''

'\nBenchmark this & df.read_Csv()/read_feather()/read_parquet()\nalst = list(range(1,999999))\nnewlst = []\n\n# code-1\nfor elem in alst:\n\tnewlst.append(elem*elem)\n\n#code-2\nnewlst = list(map(lambda x : x*x, alst))\n\n#code-3\nnewlst = [e*e for e in alst]\n'

# Task6:-

In [8]:
'''

NAME | GOT | EXP
-----------------
t1  |  10  |  20
t2  |  10  |  10
t3  |  15  |  20
t4  |  12  |  12
t5  |  30  |  30
t6  |  32  |  32
t7  |  20  |  20
t8  |  *   |  Null
t9  |  10  |  Null
t10 |  11  |  11
t11 |  hai |  20
t12 |  ?   |  30
t13 |  0   |  0
t14 |  25  |  20
t15 |  0   |  ?

Prepare the data frame for the above data & clean the data 
>>match the data types

'''

'\n\nNAME | GOT | EXP\n-----------------\nt1  |  10  |  20\nt2  |  10  |  10\nt3  |  15  |  20\nt4  |  12  |  12\nt5  |  30  |  30\nt6  |  32  |  32\nt7  |  20  |  20\nt8  |  *   |  Null\nt9  |  10  |  Null\nt10 |  11  |  11\nt11 |  hai |  20\nt12 |  ?   |  30\nt13 |  0   |  0\nt14 |  25  |  20\nt15 |  0   |  ?\n\nPrepare the data frame for the above data & clean the data \n>>match the data types\n\n'

In [5]:
import numpy as np
import pandas as pd
data = {
    'NAME': ['t1', 't2', 't3', 't4', 't5', 't6', 't7', 't8', 't9', 't10', 't11', 't12', 't13', 't14', 't15'],
    'GOT': [10, 10, 15, 12, 30, 32, 20, '*', 10, 11, 'hai', '?', 0, 25, 0],
    'EXP': [20, 10, 20, 12, 30, 32, 20, np.nan, np.nan, 11, 20, 30, 0, 20, '?']
}
d=pd.DataFrame(data)
print(d.info())


import numpy as np
import pandas as pd
data = {
    'NAME': ['t1', 't2', 't3', 't4', 't5', 't6', 't7', 't8', 't9', 't10', 't11', 't12', 't13', 't14', 't15'],
    'GOT': [10, 10, 15, 12, 30, 32, 20, '*', 10, 11, 'hai', '?', 0, 25, 0],
    'EXP': [20, 10, 20, 12, 30, 32, 20, np.nan, np.nan, 11, 20, 30, 0, 20, '?']
}
df1=pd.DataFrame(data)
df1.fillna(0,inplace=True)
print("\n","*"*20,"Before cleanup".upper(),"*"*20)
print(df1)

print("\n","*"*20,"After cleanup".upper(),"*"*20)
for j in range(df1.shape[0]):
    if(type("str")==type(df1.iloc[j,0])):
        #print(df1.iloc[j,0],True,end=" ")
        pass
    else:
        #print(df1.iloc[j,0],False,end=" ")
        df1.iloc[j,0]=0
    if(type(0)==type(df1.iloc[j,1])):
        #print(df1.iloc[j,1],True,end=" ")
        pass
    else:
        #print(df1.iloc[j,1],False,end=" ")
        df1.iloc[j,1]=0
    if(type(0)==type(df1.iloc[j,2])):
        #print(df1.iloc[j,2],True,end=" ")
        pass
    else:
        #print(df1.iloc[j,2],False,end=" ")
        df1.iloc[j,2]=0
    #print()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    15 non-null     object
 1   GOT     15 non-null     object
 2   EXP     13 non-null     object
dtypes: object(3)
memory usage: 492.0+ bytes
None

 ******************** BEFORE CLEANUP ********************
   NAME  GOT EXP
0    t1   10  20
1    t2   10  10
2    t3   15  20
3    t4   12  12
4    t5   30  30
5    t6   32  32
6    t7   20  20
7    t8    *   0
8    t9   10   0
9   t10   11  11
10  t11  hai  20
11  t12    ?  30
12  t13    0   0
13  t14   25  20
14  t15    0   ?

 ******************** AFTER CLEANUP ********************

   NAME GOT EXP
0    t1  10  20
1    t2  10  10
2    t3  15  20
3    t4  12  12
4    t5  30  30
5    t6  32  32
6    t7  20  20
7    t8   0   0
8    t9  10   0
9   t10  11  11
10  t11   0  20
11  t12   0  30
12  t13   0   0
13  t14  25  20
14  t15   0   0

# Task7:-

In [3]:
'''
=======
data.txt:-
\'\'\'
how is this name = ravi and then later marks [10 20 30]
name = manu hello world of marks=[40 50 60] then also data
data is find name = hari marks= [70 80 90] from then that
this is how data name = guru of then this marks = [25 35 45]
\'\'\'

Expected1:-

NAME  |  MARKS
-----------------
ravi  | [10,20,30]
manu  | [40,50,60]
hari  | [70,80,90]
guru  | [25,35,45]

NAME  |   MARKS    |  TOTAL  |  AVG
-----------------------------------
ravi  | [10,20,30] |   ?     |  ?
manu  | [40,50,60] |   ?     |  ?
hari  | [70,80,90] |   ?     |  ?
guru  | [25,35,45] |   ?     |  ?


'''
'''d2={
    "NAME":["ravi","manu","hari","guru"],
    "MARKS":[[10,20,30],[40,50,60],[70,80,90],[25,35,45]]
}
t=[]
a=[]
for i in d2["MARKS"]:
    t.append(sum(i))
    a.append(sum(i)/len(i))
d2["Total"]=t
d2["Average"]=a
data=pd.DataFrame(d2)
data'''
s='''how is this name=ravi and then later marks [10 20 30]
name = manu hello world of marks=[40 50 60] then also data
data is find name= hari marks= [70 80 90] from then that
this is how data name = guru of then this marks = [25 35 45]'''
#if '=' in s.split(' '):

# Task8:-

In [10]:
'''
alst = [
    "hari-blr-math-50,sci-56,soc-84",
    "john-chn-math-60,sci-64,soc-54",
    "ramu-hyd-math-80,sci-56,soc-75",
    "elan-mum-math-30,sci-43,soc-54",    
    ]

Expected1:-
	hari total ? best subject soc
	john total ? best subject sci
	ramu total ? best subject math
	elan total ? best subject soc

	Best student in math dept = ?
	Best student in sci dept = ?
	Best student in soc dept = ?
'''

'\nalst = [\n    "hari-blr-math-50,sci-56,soc-84",\n    "john-chn-math-60,sci-64,soc-54",\n    "ramu-hyd-math-80,sci-56,soc-75",\n    "elan-mum-math-30,sci-43,soc-54",    \n    ]\n\nExpected1:-\n\thari total ? best subject soc\n\tjohn total ? best subject sci\n\tramu total ? best subject math\n\telan total ? best subject soc\n\n\tBest student in math dept = ?\n\tBest student in sci dept = ?\n\tBest student in soc dept = ?\n'

In [18]:
alst = [
    "hari-blr-math-50,sci-56,soc-84",
    "john-chn-math-60 ,sci-64,soc-54",
    "ramu-hyd-math-80 ,sci-56,soc-75",
    "elan-mum-math-30 ,sci-43,soc-54",    
    ]