# Data Frames

In [1]:
# Data Frame
'''
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

It is like a spreadsheet or SQL table, or a dict of Series objects.

DataFrame.T Transpose index and columns. Reflect the DataFrame over its main diagonal by writing rows as columns and vice-versa.

DataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of
storing and working with data.

DataFrames are similar to SQL tables or the spreadsheets that you work with in Excel or Calc. In many cases, DataFrames are faster, 
easier to use, and more powerful than tables or spreadsheets because they're an integral part of the Python and NumPy ecosystems.

It can store data of different types (including characters, integers, floating point values, categorical data and more) in columns.

We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.

Column selection - we can either access the columns by calling them by their columns name.

Row Selection - DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. 
Rows can also be selected by passing integer location to an iloc[] function.

We can read and write data to Excel/CSV files.

'''

"\nA Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.\n\nIt is like a spreadsheet or SQL table, or a dict of Series objects.\n\nDataFrame.T Transpose index and columns. Reflect the DataFrame over its main diagonal by writing rows as columns and vice-versa.\n\nDataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of\nstoring and working with data.\n\nDataFrames are similar to SQL tables or the spreadsheets that you work with in Excel or Calc. In many cases, DataFrames are faster, \neasier to use, and more powerful than tables or spreadsheets because they're an integral part of the Python and NumPy ecosystems.\n\nIt can store data of different types (including characters, integers, floating point values, categorical data and more) in columns.\n\nWe can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.\n\nColumn selection - we can either access the columns by calling them by their columns name.\n\nRow Selection - DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. \nRows can also be selected by passing integer location to an iloc[] function.\n\nWe can read and write data to Excel/CSV files.\n\n"

In [2]:
'''
Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.
'''
# DataFrame can be created using a single list or a list of lists.
import pandas as pd
l1 = ['A','B','C','D','E']
df1 = pd.DataFrame(l1)
print(df1,'\n')

# DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the 
# length of arrays. If no index is passed, then by default,index will be range(n) where n is the array length.
import pandas as pd
d1 = {'Name':['Dheeraj', 'Chandan', 'Mohit', 'Ramesh'],
      'Age':[20, 21, 14, 47],
      'Grade':['A','B','C','D']}
df2 = pd.DataFrame(d1)
print(df2,'\n')

# Column Selection by column name in dataframe and Row selection by .iloc
import pandas as pd
d1 = {'Name':['Dheeraj', 'Chandan', 'Mohit', 'Ramesh'],
      'Age':[20, 21, 14, 47],
      'Grade':['A','B','C','D']}
Col_data1 = pd.DataFrame(d1)["Name"]
Col_data2 = pd.DataFrame(d1)["Age"]
print(Col_data1,'\n')
print(Col_data2,'\n')
Row_data1 = pd.DataFrame(d1)["Name"].iloc[0:2:]
Row_data2 = pd.DataFrame(d1)["Age"].iloc[0:len(d1["Age"]):]
Row_data3 = pd.DataFrame(d1).iloc[1]
print(Row_data1,'\n')
print(Row_data2,'\n')
print(Row_data3,'\n')

   0
0  A
1  B
2  C
3  D
4  E

      Name  Age Grade
0  Dheeraj   20     A
1  Chandan   21     B
2    Mohit   14     C
3   Ramesh   47     D

0    Dheeraj
1    Chandan
2      Mohit
3     Ramesh
Name: Name, dtype: object

0    20
1    21
2    14
3    47
Name: Age, dtype: int64

0    Dheeraj
1    Chandan
Name: Name, dtype: object

0    20
1    21
2    14
3    47
Name: Age, dtype: int64

Name     Chandan
Age           21
Grade          B
Name: 1, dtype: object

In [3]:
import numpy as np
import pandas as pd
from numpy.random import rand
np.random.seed(101) # To generate random numbers. function provides an input for the pseudo-random number generator in Python. 
                    # The value inside the seed function is the input value that we will use to seed the pseudo random generator.
df3=pd.DataFrame(rand(5,5),['A','B','C','D','E'],['C1','C2','C3','C4','C5'])
print(type(df3),'\n',df3,'\n')
print(type(df3['C1']),'\n',df3['C1'],'\n')
print(df3[['C1','C3']],'\n') # To get data from multiple columns and show as data frame.
print(df3,'\n\n',df3.T)

# To add new column to a DataFrame then
df3['C1+C2']=df3['C1']+df3['C2']
print(df3,'\n')

# To add new row to a DataFrame then
newRow = {'C1':1,'C2':2,'C3':3,'C4':4,'C5':5,'C1+C2':100}
df3=df3.append(newRow,ignore_index = True)
print(df3,'\n')

# Again to Drop a newly added column
df3.drop('C1+C2',axis=1,inplace=True) # Inplace is to temporary remaval of column
print(df3)

# To Drop a row
df3.drop(index=3,axis=0,inplace=True)
print(df3,'\n')

<class 'pandas.core.frame.DataFrame'>
          C1        C2        C3        C4        C5
A  0.516399  0.570668  0.028474  0.171522  0.685277
B  0.833897  0.306966  0.893613  0.721544  0.189939
C  0.554228  0.352132  0.181892  0.785602  0.965483
D  0.232354  0.083561  0.603548  0.728993  0.276239
E  0.685306  0.517867  0.048485  0.137869  0.186967

<class 'pandas.core.series.Series'>
 A    0.516399
B    0.833897
C    0.554228
D    0.232354
E    0.685306
Name: C1, dtype: float64

         C1        C3
A  0.516399  0.028474
B  0.833897  0.893613
C  0.554228  0.181892
D  0.232354  0.603548
E  0.685306  0.048485

         C1        C2        C3        C4        C5
A  0.516399  0.570668  0.028474  0.171522  0.685277
B  0.833897  0.306966  0.893613  0.721544  0.189939
C  0.554228  0.352132  0.181892  0.785602  0.965483
D  0.232354  0.083561  0.603548  0.728993  0.276239
E  0.685306  0.517867  0.048485  0.137869  0.186967

            A         B         C         D         E
C1  0.516399  0.833897  0.554228  0.232354  0.685306
C2  0.570668  0.306966  0.352132  0.083561  0.517867
C3  0.028474  0.893613  0.181892  0.603548  0.048485
C4  0.171522  0.721544  0.785602  0.728993  0.137869
C5  0.685277  0.189939  0.965483  0.276239  0.186967
         C1        C2        C3        C4        C5     C1+C2
A  0.516399  0.570668  0.028474  0.171522  0.685277  1.087066
B  0.833897  0.306966  0.893613  0.721544  0.189939  1.140863
C  0.554228  0.352132  0.181892  0.785602  0.965483  0.906360
D  0.232354  0.083561  0.603548  0.728993  0.276239  0.315915
E  0.685306  0.517867  0.048485  0.137869  0.186967  1.203174

         C1        C2        C3        C4        C5       C1+C2
0  0.516399  0.570668  0.028474  0.171522  0.685277    1.087066
1  0.833897  0.306966  0.893613  0.721544  0.189939    1.140863
2  0.554228  0.352132  0.181892  0.785602  0.965483    0.906360
3  0.232354  0.083561  0.603548  0.728993  0.276239    0.315915
4  0.685306  0.517867  0.048485  0.137869  0.186967    1.203174
5  1.000000  2.000000  3.000000  4.000000  5.000000  100.000000

         C1        C2        C3        C4        C5
0  0.516399  0.570668  0.028474  0.171522  0.685277
1  0.833897  0.306966  0.893613  0.721544  0.189939
2  0.554228  0.352132  0.181892  0.785602  0.965483
3  0.232354  0.083561  0.603548  0.728993  0.276239
4  0.685306  0.517867  0.048485  0.137869  0.186967
5  1.000000  2.000000  3.000000  4.000000  5.000000
         C1        C2        C3        C4        C5
0  0.516399  0.570668  0.028474  0.171522  0.685277
1  0.833897  0.306966  0.893613  0.721544  0.189939
2  0.554228  0.352132  0.181892  0.785602  0.965483
4  0.685306  0.517867  0.048485  0.137869  0.186967
5  1.000000  2.000000  3.000000  4.000000  5.000000

C:\Users\KIIT\AppData\Local\Temp\ipykernel_7428\335781685.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3=df3.append(newRow,ignore_index = True)

In [7]:
import numpy as np
import pandas as pd
from numpy.random import rand
df3=pd.DataFrame(rand(5,5),['A','B','C','D','E'],['C1','C2','C3','C4','C5'])
print(df3,'\n')
df3.drop('E',axis=0,inplace=True)
print(df3,'\n')
print(df3.shape,'\n')
df3.drop('C5',axis=1,inplace=True)
print(df3,'\n')
print(df3.shape,'\n')
print(df3)
print(df3.loc['B'])
print(df3.loc[['B','C'],['C2','C3']])
print(df3.loc['B','C1'])
print(df3.iloc[1:2:])
print(df3.iloc[1])
print(df3.iloc[2:len(df3),1:4])

         C1        C2        C3        C4        C5
A  0.705818  0.039727  0.164970  0.087630  0.860533
B  0.845060  0.775996  0.784676  0.635910  0.291824
C  0.493769  0.692839  0.775924  0.461856  0.453055
D  0.815702  0.886015  0.078115  0.076679  0.664657
E  0.395280  0.361584  0.894768  0.040199  0.764183

         C2        C3        C4
C  0.692839  0.775924  0.461856
D  0.886015  0.078115  0.076679
E  0.361584  0.894768  0.040199

In [5]:
#df3.T.'A'
#df3.'2'