In [103]:
# Conditional selection

import numpy as np
import pandas as pd
from numpy.random import rand
np.random.seed(101)
df1=pd.DataFrame(rand(5,4),['A','B','C','D','E'],['C1','C2','C3','C4'])
print(df1)

print(df1>0.5,'\n')
bool_df1=df1>0.5
print(bool_df1,'\n')
print(df1[bool_df1],'\n')
print(df1['C1'],'\n')
print(df1['C1']>0.5,'\n')
print(df1[df1['C1']>0.5],'\n')
print(df1[df1['C1']>0.5]['C2'],'\n')

print(df1,'\n')
res1=df1[df1['C1']>0.5]
print(res1,'\n')
print(res1['C2'],'\n')
print(df1[df1['C1']<0.5],'\n')
print(df1[df1['C1']>0.5]['C2'],'\n')
print(df1[df1['C1']>0.5][['C2','C4']],'\n')

bool_df2=df1['C2']>0.5
res2=df1[bool_df2]
print(bool_df2,'\n')
print(res2,'\n')

print(res2[['C1','C3','C4']],'\n')
cols=['C1','C3','C4']
print(res2[cols],'\n')

print(df1,'\n')
print(df1[(df1['C1']>0.3) & (df1['C1']<0.7)],'\n')
print(df1[(df1['C1']>0.3) | (df1['C1']<0.7)],'\n')
print(df1[(df1['C1']>0.3) & (df1['C3']<0.7)],'\n')
print(df1[(df1['C1']>0.3) | (df1['C3']<0.7)],'\n')

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239
      C1     C2     C3     C4
A   True   True  False  False
B   True   True  False   True
C   True  False   True  False
D  False   True   True  False
E  False   True   True  False

      C1     C2     C3     C4
A   True   True  False  False
B   True   True  False   True
C   True  False   True  False
D  False   True   True  False
E  False   True   True  False

         C1        C2        C3        C4
A  0.516399  0.570668       NaN       NaN
B  0.685277  0.833897       NaN  0.893613
C  0.721544       NaN  0.554228       NaN
D       NaN  0.785602  0.965483       NaN
E       NaN  0.603548  0.728993       NaN

A    0.516399
B    0.685277
C    0.721544
D    0.181892
E    0.083561
Name: C1, dtype: float64

A     True
B     True
C     True
D    False
E    False
Name: C1, dtype: bool

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

A    0.570668
B    0.833897
C    0.189939
Name: C2, dtype: float64

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

A    0.570668
B    0.833897
C    0.189939
Name: C2, dtype: float64

A    0.570668
B    0.833897
C    0.189939
Name: C2, dtype: float64

         C2        C4
A  0.570668  0.171522
B  0.833897  0.893613
C  0.189939  0.352132

         C1        C2        C3        C4
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

A     True
B     True
C    False
D     True
E     True
Name: C2, dtype: bool

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

         C1        C3        C4
A  0.516399  0.028474  0.171522
B  0.685277  0.306966  0.893613
D  0.181892  0.965483  0.232354
E  0.083561  0.728993  0.276239

         C1        C3        C4
A  0.516399  0.028474  0.171522
B  0.685277  0.306966  0.893613
D  0.181892  0.965483  0.232354
E  0.083561  0.728993  0.276239

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

         C1        C2        C3        C4
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

In [105]:
# .reset_index() - The reset_index() method allows you reset the index back to the default 0, 1, 2 etc indexes.
#                  Pandas reset_index() is a method to reset index of a Data Frame. reset_index() method sets a list of integer 
#                  ranging from 0 to length of data as index.
# Pandas set_index() is a method to set a List, Series or Data frame as index of a Data Frame.
#                   set_index() is used to set the index to pandas DataFrame.
print(df1,'\n')
print(df1.reset_index(),'\n')

newind="1 2 3 4 5".split()
print(newind)
df1['C5']=newind
print(df1,'\n')


print(df1,'\n')
print(df1.set_index('C5'))

         C1        C2        C3        C4 C5
A  0.516399  0.570668  0.028474  0.171522  1
B  0.685277  0.833897  0.306966  0.893613  2
C  0.721544  0.189939  0.554228  0.352132  3
D  0.181892  0.785602  0.965483  0.232354  4
E  0.083561  0.603548  0.728993  0.276239  5

  index        C1        C2        C3        C4 C5
0     A  0.516399  0.570668  0.028474  0.171522  1
1     B  0.685277  0.833897  0.306966  0.893613  2
2     C  0.721544  0.189939  0.554228  0.352132  3
3     D  0.181892  0.785602  0.965483  0.232354  4
4     E  0.083561  0.603548  0.728993  0.276239  5

['1', '2', '3', '4', '5']
         C1        C2        C3        C4 C5
A  0.516399  0.570668  0.028474  0.171522  1
B  0.685277  0.833897  0.306966  0.893613  2
C  0.721544  0.189939  0.554228  0.352132  3
D  0.181892  0.785602  0.965483  0.232354  4
E  0.083561  0.603548  0.728993  0.276239  5

         C1        C2        C3        C4 C5
A  0.516399  0.570668  0.028474  0.171522  1
B  0.685277  0.833897  0.306966  0.893613  2
C  0.721544  0.189939  0.554228  0.352132  3
D  0.181892  0.785602  0.965483  0.232354  4
E  0.083561  0.603548  0.728993  0.276239  5

          C1        C2        C3        C4
C5
1   0.516399  0.570668  0.028474  0.171522
2   0.685277  0.833897  0.306966  0.893613
3   0.721544  0.189939  0.554228  0.352132
4   0.181892  0.785602  0.965483  0.232354
5   0.083561  0.603548  0.728993  0.276239