In [59]:
# Missing Data
'''
Missing Data can occur when no information is provided for one or more items or for a whole unit.
Missing Data can also refer to as NA(Not Available) values in pandas. In DataFrame sometimes many datasets simply arrive with missing data, 
either because it exists and was not collected or it never existed.
'''
import numpy as np
import pandas as pd
d1={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[10,20,30]}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d1)
df3=pd.DataFrame(d1)
print(df1,'\n')
# .dropna() - The dropna() method removes the rows that contains NULL values.It  is used to return a new Series with missing values removed. 
print(df1.dropna(),'\n')
print(df1.dropna(axis=0),'\n')
print(df1.dropna(axis=1),'\n')
print(df2,'\n')
print(df2.dropna(axis=0,inplace=False),'\n')
df2.dropna(axis=1,inplace=True)
print(df2,'\n')

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30

     A    B   C
0  1.0  5.0  10

     A    B   C
0  1.0  5.0  10

    C
0  10
1  20
2  30

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30

     A    B   C
0  1.0  5.0  10

    C
0  10
1  20
2  30

In [63]:
# to specify the minimum number of non-NaN values that a row or column must have in order to be kept in the DataFrame.
print(df3,'\n')
print(df3.dropna(thresh=0),'\n')
print(df3.dropna(thresh=1),'\n')
print(df3.dropna(thresh=2),'\n')
print(df3.dropna(thresh=3),'\n')

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20

     A    B   C
0  1.0  5.0  10

In [69]:
# .fillna() - It replaces the NULL values with a specified value. Fillna is a Pandas function to fill the NA/NaN values with the specified method. 
print(df3,'\n')
df3.fillna(value="None")
print(df3,'\n')
print(df3['B'],'\n')
# .mean() - To find a mean value
print(df3['A'].fillna(value=df3['A'].mean()),'\n')

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30

0    5.0
1    NaN
2    NaN
Name: B, dtype: float64

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64