# Import dataset

In [1]:
import pandas as pd
data=pd.read_csv("C:\\Users\\KIIT\\Desktop\\ML Practice\\Dataset\\Machine Learning A-Z (Codes and Datasets)\\Part 2 - Regression\\Section 7 - Support Vector Regression (SVR)\\Python\\Position_Salaries.csv")
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [2]:
print(x)

            Position  Level
0   Business Analyst      1
1  Junior Consultant      2
2  Senior Consultant      3
3            Manager      4
4    Country Manager      5
5     Region Manager      6
6            Partner      7
7     Senior Partner      8
8            C-level      9
9                CEO     10

In [3]:
print(y)

0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64

# 2. EDA

In [4]:
data.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [6]:
data.describe()

          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

# 3. Encoding

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data.iloc[:,0]=le.fit_transform(data.iloc[:,0])
x=data.iloc[:,:-1]
y=data.iloc[:,-1].values
print(data)

   Position  Level   Salary
0         0      1    45000
1         4      2    50000
2         8      3    60000
3         5      4    80000
4         3      5   110000
5         7      6   150000
6         6      7   200000
7         9      8   300000
8         1      9   500000
9         2     10  1000000

C:\Users\KIIT\AppData\Local\Temp\ipykernel_2820\185566487.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.iloc[:,0]=le.fit_transform(data.iloc[:,0])

In [8]:
# scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
y=sc.fit_transform(y.reshape(len(y),1))
print(x,'\n')
print(y,'\n')

[[-1.5666989  -1.5666989 ]
 [-0.17407766 -1.21854359]
 [ 1.21854359 -0.87038828]
 [ 0.17407766 -0.52223297]
 [-0.52223297 -0.17407766]
 [ 0.87038828  0.17407766]
 [ 0.52223297  0.52223297]
 [ 1.5666989   0.87038828]
 [-1.21854359  1.21854359]
 [-0.87038828  1.5666989 ]]

[[-0.72004253]
 [-0.70243757]
 [-0.66722767]
 [-0.59680786]
 [-0.49117815]
 [-0.35033854]
 [-0.17428902]
 [ 0.17781001]
 [ 0.88200808]
 [ 2.64250325]]

# 3. Model building

In [9]:
# Split data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print("x_train shape : ",x_train.shape)
print("y_train shape : ",y_train.shape)
print("x_test shape : ",x_test.shape)
print("y_test shape : ",y_test.shape)

x_train shape :  (8, 2)
y_train shape :  (8, 1)
x_test shape :  (2, 2)
y_test shape :  (2, 1)

In [10]:
# Train data
from sklearn.svm import SVR
svm_model=SVR()
svm_model.fit(x_train,y_train)

c:\Users\KIIT\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [11]:
# Testing
from sklearn.metrics import mean_absolute_error,mean_squared_error
import numpy as np
test_acc=svm_model.score(x_test,y_test)
train_acc=svm_model.score(x_train,y_train)
y_pred=svm_model.predict(x_test)
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
print("Testing score : ",test_acc)
print("Training score : ",train_acc)
print("mae : ",mae)
print("mse : ",mse)
print("rmse : ",rmse)

Testing score :  0.8549496348058357
Training score :  0.6530117893413616
mae :  0.25900814949444073
mse :  0.08703498446172216
rmse :  0.2950169223311133