# Assignment (Day1, Day2, Day3)

### 1. Using for loop, write and run a Python program for this algorithm.
Here is an algorithm to print out n! (n factorial) from 0! to 10! :
1. Set f = 1 
2. Set n = 0
3. Repeat the following 10 times: 
a. Output n, "! = ", f
b. Add 1 to n 
c. Multiply f by n

In [1]:
n=10
for i in range(1,n+1):
    f=1
    for j in range(1,i+1):
        f=f*j
    print("{}! = {}".format(j,f))

1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040
8! = 40320
9! = 362880
10! = 3628800

### 2. Write a program to display 3 line message

In [3]:
s=""""
Hi I am Dheeraj
From Andhra
Studying PG Diploma
"""
print(s)
for i in s.split('\n'):
    print(i)

"
Hi I am Dheeraj
From Andhra
Studying PG Diploma

"
Hi I am Dheeraj
From Andhra
Studying PG Diploma

### 3. Write a program that take Student_Number, Name, 
Branch and University from user. Print the read details.

In [4]:
# 3. Write a program that take Student_Number, Name, Branch and University from user. Print the read details.
Student_Number=int(input("Please enter Student number : "))  # 17
Name=input("Please enter the Name : ")          # Dheeraj
Branch=input("Please enter the Branch : ")      # DBDA
University=input("Please enter the University : ") # CDAC
print("Entered Details :\n")
print("\tStudent number : ",Student_Number)
print("\tStudent Name : ",Name)
print("\tStudent Branch : ",Branch)
print("\tStudent University : ",University)

Entered Details :

	Student number :  17
	Student Name :  Dheeraj
	Student Branch :  DBDA
	Student University :  CDAC

### 4. Create a module consisting of 2 functions 
"area_Rectangle", "area_Square". Import the module and 
perform the following operations:
1. Calculate the area of Square only by importing only one method.
2. Calculate the area of Rectangle only by importing only one method.
3. Calculate the area of Square and Rectangle by importing complete module.

In [5]:
# In AreaSqRect.py
def area_Rectangle():
    l=float(input("Please enter the length : "))
    b=float(input("Please enter the bredth : "))
    area=l*b
    return area
def area_Square():
    s=float(input("Please enter the length of square side : "))
    area=s*s
    return area


# In AreaSqRectMain.py
"""
import AreaSqRect
ch=int(input("Enter choice : "))
if(ch==1): 
    a1=AreaSqRect.area_Rectangle()
    print("Area of rectriangle : ",a1)
elif(ch==2):
    a2=AreaSqRect.area_Square()
    print("Area of Square : ",a2)
elif(ch==3):
    a1=AreaSqRect.area_Rectangle()
    a2=AreaSqRect.area_Square()
    print("Area of rectriangle : ",a1)
    print("Area of Square : ",a2)
"""
def SqRectArea():
    a1=area_Rectangle()
    print("Area of rectriangle : ",a1)
    a2=area_Square()
    print("Area of Square : ",a2)
SqRectArea()

Area of rectriangle :  2.0
Area of Square :  16.0

### 5. Python program to demonstrate if, elif and else by 
checking larges of three numbers

In [6]:
### 5. Python program to demonstrate if, elif and else by checking larges of three numbers
a=int(input("Please enter the 1st number : "))
b=int(input("Please enter the 1st number : "))
c=int(input("Please enter the 1st number : "))
print("Finding largest of 3 number :{0}, {1}, {2}".format(a,b,c))
print("Using if and elif -\t")
if(a>=b and a>=c):
    print(a," : is Greater")
elif(b>=c and  b>=c):
    print(b," : is Greater")
else:
    print(c," : is Greater")

Finding largest of 3 number :3, 5, 7
Using if and elif -
7  : is Greater

### 6. Program to check whether a number is perfect or not

In [7]:
# 6. Program to check whether a number is perfect or not
n=int(input("Please enter the number : "))
s=0
for i in range(1,n+1):
    if(n%i==0):
        s=s+i
if(s==(n*2)):
    print(n," : is a perfect number")
else:
    print(n," : is not a perfect number")

6  : is a perfect number

### 7. Read a multiword string and print them in alphabetical order

In [8]:
# 7. Read a multiword string and print them in alphabetical order
s1="Dheeraj Chandan"
print("Before sorting : ",s1.lower())
s2=[i for i in s1.lower()]
s2.sort()
s1=[i for i in s2]
s=""
for i in s1:
    s=s+i
print("After sorting : ",s)

Before sorting :  dheeraj chandan
After sorting :   aaacddeehhjnnr

### 8. Consider the following dictionary:
{ "i10":"Blue", "Kushaq": "Red", "i20": White"}
1. How many cars are there in the dictionary
2. Remove the car i10 from the dictionary
3. Change the value of Kushaq to Black

In [9]:
car={"i10":"Blue", "Kushaq": "Red", "i20": "White"}
print("Dictionary items : ",car)
print("Length of dictinary items : ",len(car))
car.pop("i10")
print("After removing \"i10\" car : ",car)
car["Kushaq"]="Black"
print("After updating color of \"Kushaq\" : ",car)

Dictionary items :  {'i10': 'Blue', 'Kushaq': 'Red', 'i20': 'White'}
Length of dictinary items :  3
After removing "i10" car :  {'Kushaq': 'Red', 'i20': 'White'}
After updating color of "Kushaq" :  {'Kushaq': 'Black', 'i20': 'White'}

### 9. Write a program to sort elements of a tuple

In [10]:
t1=(7,6,2,5,4,1,3)
t2=("Dheeraj","Ramesh","Chandan")
print(t1)
print(t2)
l1=list(t1)
l2=list(t2)
l1.sort()
l2.sort()
t1=tuple(l1)
t2=tuple(l2)
print(t1)
print(t2)

(7, 6, 2, 5, 4, 1, 3)
('Dheeraj', 'Ramesh', 'Chandan')
(1, 2, 3, 4, 5, 6, 7)
('Chandan', 'Dheeraj', 'Ramesh')

### 10. Implement contact book using dictionaries name, address, 
number, locality and city by taking input from user

In [11]:
# 10. Implement contact book using dictionaries name, address, number, locality and city by taking input from user
book=dict({})
book.update({"name":input("Please enter the name : ")})
book.update({"address":input("Please enter the address : ")})
book.update({"number":input("Please enter the number : ")})
book.update({"locality":input("Please enter the locality : ")})
book.update({"city":input("Please enter the city : ")})
book

{'name': 'Dheeraj',
 'address': 'Ecity',
 'number': '12345',
 'locality': 'Blr',
 'city': 'KABlrEc'}

###  11. Write a python program to create dictionary, list, tuple with the 
following details: [id, name, job role, joining date]
Perform the following opeartions:
1. Add 5 employee to each
2. Check senior most employee
3. Add new employee to the record
4. Sort the employee by name
5. Remove an employee from the record
6. Use function that takes 3 parameter and display prefix, fname and lname of the employee
7. Print the employee with salary above 80,000

In [4]:
# Name : B.Dheeraj Chandan ; PRN - 17

# Define a function to create an employee record
def create_employee_record(id, name, job_role, joining_date):
    return {'id': id, 'name': name, 'job_role': job_role, 'joining_date': joining_date}

# Initialize empty dictionary, list, and tuple
emp_dict = {}
emp_list = []
emp_tuple = ()

# Function to add employee to dictionary, list, and tuple
def add_employee(id, name, job_role, joining_date):
    emp = create_employee_record(id, name, job_role, joining_date)
    emp_dict[id] = emp
    emp_list.append(emp)
    global emp_tuple
    emp_tuple += (emp,)

# Add 5 employees to each
for i in range(1, 6):
    add_employee(i, f"Employee {i}", f"Role {i}", f"2024-05-02")

# Function to get senior most employee
def senior_employee():
    return max(emp_list, key=lambda emp: emp['joining_date'])

# Add new employee
add_employee(6, "New Employee", "New Role", "2024-05-02")

# Sort employees by name
emp_list.sort(key=lambda emp: emp['name'])

# Remove an employee
del emp_dict[3]
emp_list = [emp for emp in emp_list if emp['id'] != 3]
emp_tuple = tuple(emp for emp in emp_tuple if emp['id'] != 3)

# Function to display employee details
def display_employee_details(prefix, fname, lname):
    for emp in emp_list:
        if emp['name'].startswith(prefix) and emp['name'].split()[0] == fname and emp['name'].split()[-1] == lname:
            print(f"{prefix} {fname} {lname}: {emp['id']}, {emp['job_role']}, {emp['joining_date']}")
            
# Sample usage of display_employee_details function
display_employee_details("Emp", "Employee", "1")

# Print the employee with salary above 80,000 (not provided, assuming salary attribute)
""""for emp in emp_list:
     if emp['salary'] > 80000:
         print(emp['name'])"""

# Sample usage of display_employee_details function
display_employee_details("Emp", "Employee", "1")
print(emp_list)

Emp Employee 1: 1, Role 1, 2024-05-02
Emp Employee 1: 1, Role 1, 2024-05-02
[{'id': 1, 'name': 'Employee 1', 'job_role': 'Role 1', 'joining_date': '2024-05-02'}, {'id': 2, 'name': 'Employee 2', 'job_role': 'Role 2', 'joining_date': '2024-05-02'}, {'id': 4, 'name': 'Employee 4', 'job_role': 'Role 4', 'joining_date': '2024-05-02'}, {'id': 5, 'name': 'Employee 5', 'job_role': 'Role 5', 'joining_date': '2024-05-02'}, {'id': 6, 'name': 'New Employee', 'job_role': 'New Role', 'joining_date': '2024-05-02'}]

### 12. Program to demonstrate fibonacci series using recursion

In [12]:
# Name : B.Dheeraj Chandan ; PRN - 17
# 12. Program to demonstrate fibonacci series using recursion
def f1(n2):
    if n2<=1:
        return n2
    else:
        return f1(n2-1)+f1(n2-2)
def f2(n1):
    for i in range(n1):
        print(f1(i))

r=10
f2(r)

0
1
1
2
3
5
8
13
21
34