In [1]:
a=[1,2,3,4,5]
print(a)
s=len(a)
for i in range(s):
    a.pop()
    print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

In [2]:
a=[]
s=int(input("ENTER THE RANGE\n"))
for i in range(s):
    a.append(i)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [3]:
a=[]
s=int(input("ENTER THE RANGE\n"))
for i in range(s):
    a.append(i)
    b=a
    print(b)
n=len(b)
for j in range(1,n):
    b.pop()
    print(b)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 2]
[0, 1]
[0]

In [4]:
a=[]
s=int(input("ENTER THE RANGE\n"))
for i in range(s):
    a.append("*")
    b=a
    print(b)
n=len(b)
for j in range(1,n):
    b.pop()
    print(b)

['*']
['*', '*']
['*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*']
['*', '*']
['*']

In [5]:
a=[2,5,8,3,5,7,1,0]
b=a
print("ORIGINAL ARRAY: ",b)
a.sort()
print("\nASCENDING ORDER: ",a)
a.reverse()
print("DESCENDING ORDER: ",a)

ORIGINAL ARRAY:  [2, 5, 8, 3, 5, 7, 1, 0]

ASCENDING ORDER:  [0, 1, 2, 3, 5, 5, 7, 8]
DESCENDING ORDER:  [8, 7, 5, 5, 3, 2, 1, 0]

a=[]
s=int(input("ENTER THE RANGE\n"))
print("\nENTERING THE ELEMENTS:")
for i in range(s):
    n=int(input())
    a.append(n)
print("ORIGINAL ARRAY: ",a)
a.sort()
print("\nASCENDING ORDER: ",a)
a.reverse()
print("DESCENDING ORDER: ",a)

In [6]:
a=[1,2,3,4,5]
a.insert(0,5)
a

[5, 1, 2, 3, 4, 5]

In [7]:
a=[1,1,1,1,1]
for i in range(len(a)+1):
    a.insert(i,5)
    print(a)
    a.pop()

[5, 1, 1, 1, 1, 1]
[5, 5, 1, 1, 1, 1]
[5, 5, 5, 1, 1, 1]
[5, 5, 5, 5, 1, 1]
[5, 5, 5, 5, 5, 1]
[5, 5, 5, 5, 5, 5]

In [8]:
def a():
    print("DHEERAJ")

In [9]:
a()

DHEERAJ

In [10]:
type(a())

DHEERAJ

NoneType

In [11]:
#palindrome
def palindrome():
    for i in range(50):
        n=i
        s=0
        t=n
        d=0
        while(n!=0):
            d=n%10
            s=(s*10)+d
            n=n//10
        if(s==t):
            print("PALINDROME :",t)
        else:
            print("NOT A PALINDROME :",t)

In [12]:
palindrome()

PALINDROME : 0
PALINDROME : 1
PALINDROME : 2
PALINDROME : 3
PALINDROME : 4
PALINDROME : 5
PALINDROME : 6
PALINDROME : 7
PALINDROME : 8
PALINDROME : 9
NOT A PALINDROME : 10
PALINDROME : 11
NOT A PALINDROME : 12
NOT A PALINDROME : 13
NOT A PALINDROME : 14
NOT A PALINDROME : 15
NOT A PALINDROME : 16
NOT A PALINDROME : 17
NOT A PALINDROME : 18
NOT A PALINDROME : 19
NOT A PALINDROME : 20
NOT A PALINDROME : 21
PALINDROME : 22
NOT A PALINDROME : 23
NOT A PALINDROME : 24
NOT A PALINDROME : 25
NOT A PALINDROME : 26
NOT A PALINDROME : 27
NOT A PALINDROME : 28
NOT A PALINDROME : 29
NOT A PALINDROME : 30
NOT A PALINDROME : 31
NOT A PALINDROME : 32
PALINDROME : 33
NOT A PALINDROME : 34
NOT A PALINDROME : 35
NOT A PALINDROME : 36
NOT A PALINDROME : 37
NOT A PALINDROME : 38
NOT A PALINDROME : 39
NOT A PALINDROME : 40
NOT A PALINDROME : 41
NOT A PALINDROME : 42
NOT A PALINDROME : 43
PALINDROME : 44
NOT A PALINDROME : 45
NOT A PALINDROME : 46
NOT A PALINDROME : 47
NOT A PALINDROME : 48
NOT A PALINDROME : 49

In [13]:
#palindrome
def palindrome():
    n=int(input())
    s=0
    t=n
    d=0
    while(n!=0):
        d=n%10
        s=(s*10)+d
        n=n//10
    if(s==t):
        print("PALINDROME :",t)
    else:
        print("NOT A PALINDROME :",t)

In [14]:
palindrome

In [16]:
palindrome()

PALINDROME : 121

In [17]:
def b():
    # HI IM DHEERAJ
    print("HELLO")

In [18]:
b()

HELLO

In [19]:
help(b)

Help on function b in module __main__:

b()

In [20]:
help(b())

HELLO
Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [21]:
def b():
    '''HI IM DHEERAJ'''
    print("HELLO")

In [22]:
help(b)

Help on function b in module __main__:

b()
    HI IM DHEERAJ

In [23]:
help(b())

HELLO
Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [24]:
def c(strr):
    s="HI "+strr
    print(s)
c("hello")

HI hello

In [25]:
type(s)

int

In [26]:
def d():
    s="DHEERAJ"
    print(s)
    print(type(s))

In [27]:
d()

DHEERAJ
<class 'str'>

In [28]:
type(s)

int

In [29]:
def a(s):
    strr=s+" dheeraj"    
    print(strr)
    print(type(strr))
a("hi")

hi dheeraj
<class 'str'>

In [30]:
'''ARMSTRONG NUMBER'''
def arms(n):
    d=0
    t=n
    s=0
    while(n!=0):
        d=n%10
        s=s+(d*d*d)
        n=n//10
    if(s==t):
        print("ARMSTRONG NUMBER :",t)
    else:
        print("NOT A ARMSTRONG NUMBER :",t)
arms(153)
print(type(arms))
print(type(arms(n=153)))

ARMSTRONG NUMBER : 153
<class 'function'>
ARMSTRONG NUMBER : 153
<class 'NoneType'>

In [31]:
type(1)

int

In [32]:
a=[1,2,3,4]
a.insert(4,5)
a

[1, 2, 3, 4, 5]

In [33]:
a=[1,2,3,4,5]
b=[6,7,8,9,0]
for i in b:
    a.insert(i,i)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
a=[1,2,3,4,5]
b=[6,7,8,9,0]
c=0
print("INPUT ",a)
for i in range(10):
    if(i%2==0):
        n=b[c]
        a.insert(i,n)
        c=c+1
print("INPUT ",b)
print("OUTPUT ",a)

INPUT  [1, 2, 3, 4, 5]
INPUT  [6, 7, 8, 9, 0]
OUTPUT  [6, 1, 7, 2, 8, 3, 9, 4, 0, 5]

In [35]:
a=[1,2,3,4,5]
b=[6,7,8,9,0]
c=0
print("INPUT ",b)
for i in range(10):
    if(i%2==0):
        n=a[c]
        b.insert(i,n)
        c=c+1
print("INPUT ",a)
print("OUTPUT ",b)

INPUT  [6, 7, 8, 9, 0]
INPUT  [1, 2, 3, 4, 5]
OUTPUT  [1, 6, 2, 7, 3, 8, 4, 9, 5, 0]

In [36]:
def a():
    result=2+3
    print(result)

In [37]:
a()

5

In [38]:
def sum(a,b):
    s=a+b
    return s;
m=int(input())
n=int(input())
sum(m,n)

8

5#####

####

In [40]:
def s(n1,n2):
    result=n1+n2
    return result

In [41]:
a=int(input())
b=int(input())
s(a,b)

5

In [42]:
def n(a,b):
    return a+b
n1=int(input())
n2=int(input())
result=n(n1,n2)
result

7

In [43]:
n=int(input())
s=0
d=0
t=n
while(n!=0):
    d=n%10
    s=(s*10)+d
    n=n//10
if(s==t):
    print("PALINDROME")
else:
    print("NOT A PALINDROME")

PALINDROME

In [44]:
#Pig Latin
def main(str):
    c=str[0]
    for ch in str:
        if ch in "aeiou":
            s=str+"ay"
        else:
            s=str[1:]+c+"ay"
    return s

In [45]:
main("word")

'ordway'

In [46]:
main("apple")

'appleay'

In [47]:
'''hi ho'''''

'hi ho'

In [48]:
def a():
    '''
    HI
    IM
    DHEERAJ 
    CHANDAN
    '''
print("printing the name: ")

printing the name:

In [49]:
def a():
    '''
    HI
    IM
    DHEERAJ 
    CHANDAN
    '''
    print("printing the name: ")

In [50]:
a()

printing the name:

In [51]:
help(a)

Help on function a in module __main__:

a()
    HI
    IM
    DHEERAJ
    CHANDAN

In [52]:
def name(s):
    print("Dheeraj"+s)

In [53]:
name(' Chandan')

Dheeraj Chandan

In [54]:
def name(s):
    print(f'{s} is a new name.')
t=input('Enter the name: ')
name(t)

dheeraj is a new name.

In [55]:
def a(n):
    s=0
    d=0
    t=n
    while(n!=0):
        d=n%10
        s=d+(s*10)
        n=n//10
    if s==t:
        print(f'{t} is a Palindrome')
    else:
        print(f'{t} is a Not palindrome')
num=int(input('Enter the number: '))
a(num)

121 is a Palindrome

In [56]:
def a():
    s=input('Enter the name:')
    name="Dheeraj"+s
    print(name)   
a()

Dheerajchandan

In [57]:
def a(num):
    print(f'{num} is a number')
t=input('Enter a number')
a(t)

4 is a number

In [58]:
def a():
    print('Hello')
a()

Hello

In [59]:
def a(name):
    print('Hello '+name)
a('Dheeraj')

Hello Dheeraj

In [60]:
def a(n):
    print(f'{n} Hi!!')
a('Dheeraj')

Dheeraj Hi!!

In [61]:
def a(n):
    print(f'Entered number is {t}')
t=int(input('Enter the number: '))
a(t)

Entered number is 6

In [62]:
def a(t='Dheeraj'):
    print(t+' Hello!!')
a()

Dheeraj Hello!!

In [63]:
def a(n):
    print("hi "+n)
b=a('Dheeraj')

hi Dheeraj

In [40]:
b

In [41]:
type(b)

NoneType

In [44]:
def a(n):
    return "hi "+n
a('Dheeraj')

'hi Dheeraj'

In [43]:
def a(n):
    print("hi "+n)
a('Dheeraj')

hi Dheeraj

In [64]:
def a(n):
    return "hi "+n
b=a('Dheeraj')

In [65]:
b

'hi Dheeraj'

In [47]:
type(b)

str

In [49]:
def a(n):
    print("hi "+n)
b=a('Dheeraj')

hi Dheeraj

In [51]:
b

In [52]:
type(b)

NoneType

In [55]:
def s(a,b):
    t=a+b
    return t
n=s(10,20)
n

30

In [56]:
def s(a,b):
    t=a+b
    return t
s(10,20)

30

In [57]:
type(t)

int

In [58]:
#Check whether 'dog' word present in a string
def a(s):
    if 'dog' in s:
        return True
    else:
        return False
a('dog is pet animal')

True

In [59]:
def a(s):
    if 'dog' in s:
        return True
    else:
        return False
a('cat is pet animal')

False

In [60]:
def a(s):
    if 'do' in s:
        return True
    else:
        return False
a('dog is pet animal')

True

In [63]:
#lower()
#upper()
def a(s):
    if 'DOG' in s.upper():
        return True
    else:
        return False
a('dog is a pet animal')

True

In [64]:
def a(s):
    if 'who' in s.lower():
        return True
    else:
        return False
a('WHO declared covid')

True

In [4]:
#PIG_LATIN
def a(s):
    ch1=s[0]
    if ch1 in 'aeiou':
        s=s+'ay'
    else:
        s=s[1:]+ch1+'ay'
    return s
a('Dheeraj')

'heerajDay'

In [5]:
a('apple')

'appleay'

In [6]:
a('word')

'ordway'

In [12]:
def a():
    s=0
    ch=''
    for i in 'B.DHEERAJ CHANDAN':
        if not i in 'aeiou'.upper():
           ch=ch+i
    print(ch)
a()

B.DHRJ CHNDN

In [13]:
def a():
    s=0
    ch=''
    for i in 'B.DHEERAJ CHANDAN':
        if i in 'aeiou'.upper():
           ch=ch+i
    print(ch)
a()

EEAAA

In [16]:
def f(a,b):
    return sum((a,b))*0.05
f(40,60)

5.0

In [17]:
def f(*args):
    return sum(args)*0.05
f(40,60)

5.0

In [18]:
f(40,60,100)

10.0

In [19]:
f(40,60,100,100)

15.0

In [20]:
f(40,60,100,100,150,50)

25.0

In [22]:
f(40,60,100,100,100,50)

22.5

In [24]:
def f(**a):
    print(a)
f(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [1]:
max(2,3)

3

In [3]:
a=[1,2,3,4]
sum(a)

10

In [66]:
sum(2,4)

6

In [26]:
def square(mystring=['dheeraj','Chandan','balivada']):
        
        for ch in mystring[0]:
            return ch
square()

'd'

In [17]:
square()

['d', 'h', 'e', 'e', 'r', 'a', 'j']
['C', 'h', 'a', 'n', 'd', 'a', 'n']
['b', 'a', 'l', 'i', 'v', 'a', 'd', 'a']

In [1]:
a=['a','b','c']
for ch in a:
    print(ch)

a
b
c

In [3]:
def n():
    a=['a','b','c']
    for ch in a:
        return ch
n()

'a'

In [14]:
def n(a):
    return a*a*a
b=[1,2,3,4,5]
for i in map(n,b):
    print(i)

1
8
27
64
125

In [68]:
def s(ch):
    if len(ch)%2==0:
        return 'EVEN'
    else:
        return ch[0]
b=['DHEERAJ','DHEERU']
for item in map(s,b):
    print(item)

D
EVEN

In [6]:
def a(num):
    return num*2
n=[1,2,3,4,5]
b=map(a,n)
b

In [4]:
list(b)

[2, 4, 6, 8, 10]

In [7]:
for number in map(a,n):
    print(number)

2
4
6
8
10

In [8]:
def a(name):
    if len(name)%2==0:
        return 'EVEN'
    else:
        return name[0]
n=['B.','DHEERAJ','CHANDANN']
list(map(a,n))

['EVEN', 'D', 'EVEN']

In [9]:
def a(n):
    if n%2==0:
        return n
num=[1,2,3,4,5,6]
list(filter(a,num))

[2, 4, 6]

In [10]:
def a(n):
    if n%2==0:
        return n
num=[1,2,3,4,5,6]
list(map(a,num))

[None, 2, None, 4, None, 6]

In [11]:
def a(n):
    if n%2==0:
        return n
    else:
        return 'ODD'
num=[1,2,3,4,5,6]
list(filter(a,num))

[1, 2, 3, 4, 5, 6]

In [12]:
def a(n):
    if n%2==0:
        return n
    else:
        return 'ODD'
num=[1,2,3,4,5,6]
list(map(a,num))

['ODD', 2, 'ODD', 4, 'ODD', 6]

In [14]:
def a(n):
    if n%2==0:
        return n
num=[1,2,3,4,5,6]
for item in filter(a,num):
    print(item)

2
4
6

In [16]:
def a(n):
    if n%2==0:
        return n
num=[1,2,3,4,5,6]
for item in list(map(a,num)):
    print(item)

None
2
None
4
None
6

In [1]:
#lambda

In [14]:
nums=[1,2,3,4,5]
list(map(lambda n:n%2==0,nums))

[False, True, False, True, False]

In [9]:
nums=[1,2,3,4,5,6,7,8,9,0]
list(map(lambda n:n%2==0,nums))

[False, True, False, True, False, True, False, True, False, True]

In [28]:
sq=lambda a:a*2

In [29]:
sq(5)

10

In [16]:
sq=lambda a:a*2
for item in nums:
    print(sq(item))

2
4
6
8
10

In [17]:
num=[1,2,3,4,5,6]
list(map(lambda n:n*2,num))

[2, 4, 6, 8, 10, 12]

In [18]:
a=lambda n:n*2
a(4)

8

In [19]:
num=lambda n:n**2
num(4)

16

In [20]:
a=['Dheeraj','Chandan','Ramesh']
list(map(lambda n:n[0],a))

['D', 'C', 'R']

In [21]:
a=[1,2,3,4,5,6]
list(map(lambda n:n%2==0,a))

[False, True, False, True, False, True]

In [22]:
a=[1,2,3,4,5,6]
list(filter(lambda n:n%2==0,a))

[2, 4, 6]

In [23]:
n=lambda a:a**2
n(2)

4

In [24]:
n=lambda a:a+2
n(3)

5

In [25]:
a=[1,2,3,4,5]
list(map(lambda n:n*2,a))

[2, 4, 6, 8, 10]

In [26]:
a=[1,2,3,4,5]
list(map(lambda n:n+2,a))

[3, 4, 5, 6, 7]

In [27]:
a=[1,2,3,4,5]
list(filter(lambda n:n+2,a))

[1, 2, 3, 4, 5]

In [28]:
a=[1,2,3,4,5]
list(filter(lambda n:n*2,a))

[1, 2, 3, 4, 5]

In [29]:
a=[1,2,3,4,5]
n=lambda n:n+2
for item in a:
    b=n(item)
    print(b)

3
4
5
6
7

In [11]:
a=[1,2,3,4,5]
n=lambda n:n*2
for item in a:
    b=n(item)
    print(b)

2
4
6
8
10

In [12]:
nums=[1,2,3,4,5,6,7,8,9,0]
list(map(lambda n:n%2==0,nums))

[False, True, False, True, False, True, False, True, False, True]

In [13]:
nums=[1,2,3,4,5,6,7,8,9,0]
list(filter(lambda n:n%2==0,nums))

[2, 4, 6, 8, 0]

In [1]:
#NESTED STATEMENTS AND SCOPE

In [2]:
x=10
def a():
    x=50
    return x
x

10

In [3]:
print(x)

10

In [4]:
print(a())

50

In [21]:
x=[1,2,3,4,5]
def a():
    x=[1,2,3,4,5]
    return x*2
print(x)
print(a())

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [22]:
x=[1,2,3,4,5]
def a():
    x=[1,2,3,4,5]
    c=list(map(lambda a:a*2,x))
    return '\n{}\n{}'.format(x,c)
print(x)
print(a())

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [24]:
x=[1,2,3,4,5]
def a():
    x=[1,2,3,4,5]
    c=list(map(lambda n:n*2,x))
    return c
print(x)
print(a())

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [20]:
x=[1,2,3,4,5]
def a():
    x=10
    return x
print(x)
print(type(x))
print(a())
print(type(a()))

[1, 2, 3, 4, 5]
<class 'list'>
10
<class 'int'>

In [25]:
x=[1,2,3,4,5]
def a():
    x=10
    return x
type(x)

list

In [26]:
x=[1,2,3,4,5]
def a():
    x=10
    return x
type(a())

int

In [1]:
x=10
def a():
    x=50
    def b():
        print(x)
    b()
a()

50

In [2]:
x=10
def a(n):
    print(x)
    def b():
        return n
    b()
a(x)

10

In [3]:
a=lambda n:n*2     # n is local variable
a(3)

6

In [5]:
name='This is a global variable'
def a():
    name='Dheeraj'
    def b():
        print('Name is '+name)
    b()
a()

Name is Dheeraj

In [7]:
# G-Global
name='Dheeraj'
def a():
    # E-Enclosing
    name='Chandan'
    def b():
        # L-Local
        name='Balivada'
        print('Name is '+name)
    b()
a()

Name is Balivada

In [8]:
# G-Global
name='Dheeraj'
def a():
    # E-Enclosing
    name='Chandan'
    def b():
        # L-Local
        # name='Balivada'
        print('Name is '+name)
    b()
a()

Name is Chandan

In [11]:
# G-Global
name='Dheeraj'
def a():
    # E-Enclosing
    # name='Chandan'
    def b():
        # L-Local
        # name='Balivada'
        print('Name is '+name)
    b()
a()

Name is Dheeraj

In [12]:
# G-Global
# name='Dheeraj'
def a():
    # E-Enclosing
    name='Chandan'
    def b():
        # L-Local
        name='Balivada'
        print('Name is '+name)
    b()
a()

Name is Balivada

In [13]:
# G-Global
# name='Dheeraj'
def a():
    # E-Enclosing
    name='Chandan'
    def b():
        # L-Local
        # name='Balivada'
        print('Name is '+name)
    b()
a()

Name is Chandan

In [14]:
x=10       # Global
def a(x):
    print(x) # executing global value
    x=20     # Local reassignment
    print(x) # executing local value
a(x)
print(x)      #executing global value

10
20
10

In [15]:
x=10       # Global
def a():
    global x # Value of x contionusly effects/changes if reassining to x
    print(x) # executing global value
    x=20     # Local reassignment
    print(x)
    x='HI DHEERAJ'# executing local value
a()
print(x)      #executing changed global value

10
20
HI DHEERAJ

In [16]:
x=10       # Global
def a(x):
    print(x) # executing global value
    x=20     # Local reassignment
    print(x)
    x='HI DHEERAJ'# executing local value
    print(x)
a(x)
print(x)      #executing global value

10
20
HI DHEERAJ
10

In [46]:
x=10       # Global
def a(x):
    print(x) # executing global value
    x=20     # Local reassignment
    print(x)
    x='HI DHEERAJ'# executing local value
    print(x)
    return x
b=a(x)
print(x)      #executing global value
b             # Returning the value of last assigned value of x

10
20
HI DHEERAJ
10

'HI DHEERAJ'