In [2]:
# 1 ADVANCED NUMBERS
'''
hex()     ->  It converts a number into hexadecimal
oct()     ->  It converts a number into octal decimal
bin()     ->  It converts into binary representaion format
pow()     ->  It takes two argument pow(a,b) where a is base and b is exponent. <a to the power of b>.
abs()     ->  It returns absolute value
round()   ->  If it takes two arguments then it will round off to decimal points.
              If it takes one arguments then it will give precision of decimal number(number nearest to the decimal number.
'''

'\nhex()     ->  It converts a number into hexadecimal\noct()     ->  It converts a number into octal decimal\nbin()     ->  It converts into binary representaion format\npow()     ->  It takes two argument pow(a,b) where a is base and b is exponent. <a to the power of b>.\nabs()     ->  It returns absolute value\nround()   ->  If it takes two arguments then it will round off to decimal points.\n              If it takes one arguments then it will give precision of decimal number(number nearest to the decimal number.\n'

In [27]:
hex(12) # It converts a number into hexadecimal

'0xc'

In [1]:
oct(0xc)  # It converts a number into octal decimal

'0o14'

In [5]:
oct(12)

'0o14'

In [8]:
oct(8)

'0o10'

In [2]:
hex(512)

'0x200'

In [3]:
bin(1234)  # It converts into binary representaion format

'0b10011010010'

In [4]:
bin(128)

'0b10000000'

In [5]:
bin(0)

'0b0'

In [6]:
bin(1)

'0b1'

In [7]:
bin(5)

'0b101'

In [8]:
bin(12)

'0b1100'

In [9]:
2**4

16

In [10]:
pow(2,4)

16

In [11]:
pow(2,4,3)  # -> It represents (2**4)%3

1

In [12]:
pow(2,4,2)

0

In [13]:
pow(2,4,4)

0

In [14]:
pow(2,4,5)

1

In [4]:
pow(4,1/2)

2.0

In [15]:
abs(2) # It returns absolute value

2

In [16]:
abs(2.5)

2.5

In [17]:
abs(-4)

4

In [18]:
abs(-2.5)

2.5

In [19]:
abs(-2)

2

In [20]:
round(3.1)   #  To get precision of decimal number(number nearest to the decimal number.)

3

In [21]:
round(3.9)

4

In [22]:
round(3.12345463234,4)  # It will round off to 4 decimal points.

3.1235

In [24]:
round(10/3,4)

3.3333

In [89]:
# 2. ADVANCED STRINGS
'''
.upper()            ->   It converts a string into upper case
.lower()            ->   It converts a string into lower case
.count('')          ->   It counts a character has repeated in a given string. It retuns number of times a character has
                         repeated.
.find('')           ->   It retuns a index value where 1st occurance of a character is occured in a string
.title()            ->   It converts 1st letter to upper case of each word of a string
.capitalize()       ->   It converts 1st letter of aa each word of a string to upper case
.center(n,'')       ->   It is in a format of <center(size_of_string,'string')  It shifts a string to the center position
.expandtabs()       ->   It expands special character '\t' in a string.
.endswith('')       ->   It checks wethear a character is in last index position of a string. It returns Boolean type value.
.partition(' ')     ->   It splits a string with 1st occurance of a string.
.split('')          ->   It splits a string by a character separated string and store it as list. It retuns list
.split()            ->   It splits a string into words and store it as list. It retuns list



.isspace()          ->   It returs Boolean value. It checks wether a character or a string is spaces
.isupper()          ->   It returs Boolean value. It checks wether a character or a string is in upper case or not.
.islower()          ->   It returs Boolean value. It checks wether a character or a string is in lower case or not.
.isalpha()          ->   It returs Boolean value. It checks wether a character or a string is alpha(alphabet) or not.
.isnumeric()        ->   It returs Boolean value. It checks wether a character or a string is numeric number or not.
.isalnum()          ->   It returs Boolean value. It checks wether a character or a string is alpha numeric or not.
.istitle()          ->   It returs Boolean value. It checks wether a character or a string is title or not.

'''

"\n.upper()            ->   It converts a string into upper case\n.lower()            ->   It converts a string into lower case\n.count('')          ->   It counts a character has repeated in a given string. It retuns number of times a character has repeated.\n.find('')           ->   It retuns a index value where 1st occurance of a character in occured in a string\n.title()            ->   It converts 1st letter to upper case of each word of a string\n.capitalize()       ->   It converts 1st letter of a word of a string to upper case\n.center(n,'')       ->   It is ina format of <center(size_of_string,'string')  It shifts a string to the center position\n.expandtabs()       ->   It expands special character '\t' in a string.\n.endswith('')       ->   It checks wethear a character is in last index position of a string. It returns Boolean type value.\n.partition(' ')     ->   It splits a string with 1st occurance of a string.\n.split('')          ->   It splits a string by a character separated string and store it as list. It retuns list\n.split()            ->   It splits a string into words and store it as list. It retuns list\n\n\n\n.isspace()          ->   It returs Boolean value. It checks wether a character or a string is spaces\n.isupper()          ->   It returs Boolean value. It checks wether a character or a string is in upper case or not.\n.islower()          ->   It returs Boolean value. It checks wether a character or a string is in lower case or not.\n.isalpha()          ->   It returs Boolean value. It checks wether a character or a string is alpha or not.\n.isalnum()          ->   It returs Boolean value. It checks wether a character or a string is alpha numeric or not.\n.istitle()          ->   It returs Boolean value. It checks wether a character or a string is title or not.\n\n"

In [5]:
s='hello world'
s.capitalize()

'Hello world'

In [6]:
'1223'.isnumeric()

True

In [7]:
s='hello world'
s.title()

'Hello World'

In [8]:
s

'hello world'

In [9]:
s='hello world'
s.istitle()

False

In [10]:
s.upper()

'HELLO WORLD'

In [11]:
s

'hello world'

In [12]:
s=s.upper()
s

'HELLO WORLD'

In [13]:
s.lower()

'hello world'

In [14]:
s.count('O')

2

In [15]:
s.count('o')

0

In [19]:
s.find('o')

-1

In [20]:
s.find('O')

4

In [18]:
s

'HELLO WORLD'

In [22]:
s.find('O')

4

In [23]:
s=s.lower()
s

'hello world'

In [24]:
s.count('O')

0

In [25]:
s.count('o')

2

In [26]:
s.find('o')

4

In [27]:
s.find('O')

-1

In [28]:
s

'hello world'

In [29]:
s.center(20,'z')

'zzzzhello worldzzzzz'

In [30]:
s.center(20,'.')

'....hello world.....'

In [31]:
s.center(50,'.')

'...................hello world....................'

In [35]:
'hello\thi'

'hello\thi'

In [36]:
print('hello\thi')

hello	hi

In [41]:
'hello\t \n hi'.expandtabs()

'hello    \n hi'

In [42]:
s='hello'
s.isalnum()   # It checks wheather all the characters are alphanumeric

True

In [43]:
s.isalpha()

True

In [44]:
s

'hello'

In [45]:
s.islower()

True

In [46]:
s.isupper()

False

In [47]:
s

'hello'

In [52]:
s.isspace()

False

In [53]:
s='hello world'
s.isspace()

False

In [54]:
s=' '
s.isspace()

True

In [55]:
s=''
s.isspace()

False

In [56]:
s='           '
s.isspace()

True

In [57]:
s.istitle()

False

In [58]:
s='Hi Hello World'
s.istitle()

True

In [59]:
s='Hi Hello World'.upper()
print(s)
s.istitle()

HI HELLO WORLD

False

In [60]:
s='Hi Hello World'.capitalize()
print(s)
s.istitle()

Hi hello world

False

In [61]:
s.isupper()

False

In [62]:
'HELLO WORLD'.isupper()

True

In [63]:
'HELLO WORLD'.islower()

False

In [64]:
s='hello'
s

'hello'

In [65]:
s.endswith('o')

True

In [66]:
s[-1]=='o'

True

In [67]:
s.split('e')

['h', 'llo']

In [68]:
s.split('l')

['he', '', 'o']

In [69]:
s

'hello'

In [70]:
s='this is a cat'
s=s.split(' ')
s

['this', 'is', 'a', 'cat']

In [71]:
s

['this', 'is', 'a', 'cat']

In [72]:
s='this is a cat'
s=s.split('i')
s

['th', 's ', 's a cat']

In [73]:
s

['th', 's ', 's a cat']

In [91]:
s='this is a cat'
s

'this is a cat'

In [92]:
s.partition('i')   #   s.partition(sep) -> (head,sep,tail)  only for 1st instancce

('th', 'i', 's is a cat')

In [93]:
s.partition(' ')

('this', ' ', 'is a cat')

In [94]:
s=s.partition(' ')
type(s)

tuple

In [95]:
# 3 ADVANCED SETS
'''
.add()                  ->  It adds new elements to a set. sets wont take duplicate elements.
.clear()                ->  It removes all elements from a set
.copy()                 ->  It returns copy of a set. original set dont effect the copy.
.difference()           ->  It returns the difference of two sets
.difference_update()    ->  It returns set1 after removing elements found in set2
.discard()              ->  It removes elements from a set if it is a memeber.
.intersection()         ->  It returns intersection of two or more sets
.intersection_update()  ->  It will update a set with the intersection of itself and another
.isdisjoint()           ->  It will return True if two sets have a null intersection
.issubset()             ->  It will reports whether another set contains this set
.issuperset()           ->  It will reports whether set contains another set.
.symmetric_difference() ->  It returns the symmetric difference of two sets as a new sets
.symmetric_update()     ->
.union()                ->  It returns the union of two sets
.update()               ->  It Update a set with the union of itself and others
'''

'\n.add()                  ->  It adds new elements to a set. sets wont take duplicate elements.\n.clear()                ->  It removes all elements from a set\n.copy()                 ->  It returns copy of a set. original set dont effect the copy.\n.difference()           ->  It returns the difference of two sets\n.difference_update()    ->  It returns set1 after removing elements found in set2\n.discard()              ->  It removes elements from a set if it is a memeber.\n.intersection()         ->  It returns intersection of two or more sets\n.intersection_update()  ->  It will update a set with the intersection of itself and another\n.isdisjoint()           ->  It will return True if two sets have a null intersection\n.issubset()             ->  It will reports whether another set contains this set\n.issuperset()           ->  It will reports whether set contains another set.\n.symmetric_difference() ->  It returns the symmetric difference of two sets as a new sets\n.symmetric_update()     ->\n.union()                ->  It returns the union of two sets\n.update()               ->  It Update a set with the union of itself and others\n'

In [101]:
s=set()
s.add(1)
s.add(2)
s

{1, 2}

In [102]:
s.add(3)
s

{1, 2, 3}

In [103]:
s.add(2)
s

{1, 2, 3}

In [104]:
s.clear()
s

set()

In [105]:
s={1,2,3}
s.add(4)
s

{1, 2, 3, 4}

In [106]:
sc=s.copy()
sc

{1, 2, 3, 4}

In [107]:
sc=s
sc

{1, 2, 3, 4}

In [108]:
s.difference(sc)

set()

In [111]:
s1={1,2,3,4,5}
s2={1,3,5}
s1-s2

{2, 4}

In [112]:
s2-s1

set()

In [113]:
s1.difference(s2)

{2, 4}

In [114]:
s1.difference_update(s2)
s1

{2, 4}

In [115]:
s2.difference(s1)

{1, 3, 5}

In [116]:
s3={1,2,4}
s4={1,3,5}
s3-s4

{2, 4}

In [121]:
s4-s3

{3, 5}

In [122]:
s3.difference(s4)

{2, 4}

In [123]:
s4.difference(s3)

{3, 5}

In [124]:
s

{1, 2, 3, 4}

In [125]:
s.discard(2)
s

{1, 3, 4}

In [130]:
s.discard(13)
s

{1, 3, 4}

In [131]:
s1={1,2,3} 
s2={1,2,4}
s1.intersection(s2)

{1, 2}

In [132]:
s1

{1, 2, 3}

In [133]:
s1.intersection_update(s2)
s1

{1, 2}

In [139]:
s1={1,2}
s2={1,2,4}
s3={5}
s1.isdisjoint(s2)   #  It returns True if both sets having different elements or not having common elements otherwise it 
                    #  returns False.

False

In [140]:
s1.intersection(s2)

{1, 2}

In [141]:
s1.isdisjoint(s3)

True

In [142]:
s1.intersection(s3)

set()

In [143]:
s1

{1, 2}

In [144]:
s2

{1, 2, 4}

In [145]:
s

{1, 3, 4}

In [146]:
s1.issubset(s)  # It checks wethear a set is subset of other set or all elements of set is contained in other set or not
                #  then it returns True otherwise False.

False

In [147]:
s2.issubset(s)

False

In [148]:
s.issubset(s1)

False

In [149]:
s.issubset(s2)

False

In [150]:
s1.issubset(s2)

True

In [151]:
s2.issubset(s1)

False

In [152]:
s1.issubset(s1) #  A set is subset of self.(itself)

True

In [153]:
s2.issubset(s2)

True

In [154]:
s.issubset(s)

True

In [158]:
s1.issuperset(s1)

True

In [159]:
s2.issuperset(s2)

True

In [160]:
s.issuperset(s)

True

In [161]:
s

{1, 3, 4}

In [162]:
s1

{1, 2}

In [163]:
s2

{1, 2, 4}

In [164]:
s.issuperset(s1)    # It checks wethear some elements in a set is must match with all elements in a set.
                    # A set from other set. All elements in second set must present in first set.

False

In [165]:
s.issuperset(s2)

False

In [166]:
s1.issuperset(s)

False

In [167]:
s1.issuperset(s2)

False

In [168]:
s2.issuperset(s)

False

In [169]:
s1

{1, 2}

In [170]:
s2

{1, 2, 4}

In [171]:
s

{1, 3, 4}

In [172]:
s1.symmetric_difference(s2)

{4}

In [173]:
s.symmetric_difference(s2)

{2, 3}

In [105]:
s.symmetric_difference(s)

set()

In [174]:
s1.symmetric_difference(s)

{2, 3, 4}

In [175]:
s2.symmetric_difference(s1)

{4}

In [176]:
s2.symmetric_difference(s)

{2, 3}

In [177]:
s1.union(s2) # It will combine or concatinate 2 diffferent sets.

{1, 2, 4}

In [178]:
s1.update(s2)
s1

{1, 2, 4}

In [184]:
# ADVANCED DICTIONARIES
d={'a':1,'b':2}
d

{'a': 1, 'b': 2}

In [185]:
{x:x**2 for x in range(4)}   # DICTIONARY COMPREHENSION

{0: 0, 1: 1, 2: 4, 3: 9}

In [186]:
{k:v**2 for k,v in zip(['a','b'],range(10))}

{'a': 0, 'b': 1}

In [187]:
{k:v**2 for k,v in zip(['a','b','c','d','e'],range(10))}

{'a': 0, 'b': 1, 'c': 4, 'd': 9, 'e': 16}

In [188]:
for k in d.values():
    print(k)

1
2

In [189]:
for k in d.items():
    print(k)

('a', 1)
('b', 2)

In [190]:
for k in d.keys():
    print(k)

a
b

In [191]:
d.items()

dict_items([('a', 1), ('b', 2)])

In [192]:
d.values()

dict_values([1, 2])

In [193]:
d.keys()

dict_keys(['a', 'b'])

In [195]:
# ADVANCED LISTS
'''
.append()                ->  It will append a new element to a list at the end.
.count()                 ->  It takes in an element and returns the number of times it occours in your list.
.extend()                ->  It extends list by appending elements from the iterable.
.index()                 ->  It will return the index of element whichis placed as an argument. The element is not in the 
                             list then an error is returned.
.insert()                ->  It takes two arguments : < Syntax - insert(index,object) >
.pop()                   ->  It will allows us to pop off the last element of the list.
.remove()                ->  It will remove the first occurance of a value.
.reverse()               ->  It will reverse a list
.sort()                  ->  It will sort all element in a list  <ascending>
.sort(reverse=True)     ->  It will sort all element in a list  <descending>

'''

'\n.append()                ->  It will append a new element to a list at the end.\n.count()                 ->  It takes in an element and returns the number of times it occours in your list.\n.extend()                ->  It extends list by appending elements from the iterable.\n.index()                 ->  It will return the index of element whichis placed as an argument. The element is not in the \n                             list then an error is returned.\n.insert()                ->  It takes two arguments : < Syntax - insert(index,object) >\n.pop()                   ->  It will allows us to pop off the last element of the list.\n.remove()                ->  It will remove the first occurance of a value.\n.reverse()               ->  It will reverse a list\n.sort()                  ->  It will sort all element in a list  <ascending>\n.sort(reverse=True)     ->  It will sort all element in a list  <descending>\n\n'

In [196]:
l=[1,2,3]

In [197]:
l.append(4)
l

[1, 2, 3, 4]

In [198]:
l.count(10)

0

In [199]:
l.count(1)

1

In [200]:
l.count(3)

1

In [201]:
x=[1,2,3]
x.append([4,5])
x

[1, 2, 3, [4, 5]]

In [202]:
x=[1,2,3]
x.extend([4,5])
x

[1, 2, 3, 4, 5]

In [203]:
l

[1, 2, 3, 4]

In [204]:
l.index(2)

1

In [150]:
# l.index(0)  -> It will show an error

In [205]:
l

[1, 2, 3, 4]

In [206]:
l.insert(2,'inserted')  # string in index position 2
l

[1, 2, 'inserted', 3, 4]

In [207]:
ele=l.pop()
ele

4

In [163]:
l

[1, 2, 'inserted', 3]

In [164]:
l.pop(2)  # It will pop an element which is present at index position 2.
l

[1, 2, 3]

In [165]:
l.remove(1)  # It will an selected element from a list
l

[2, 3]

In [166]:
l=[1,2,3,4,3,2,1]
l.remove(2)   # It will remove first occurance of the element in a list.
l

[1, 3, 4, 3, 2, 1]

In [169]:
l.reverse()
l

[1, 2, 3, 4, 3, 1]

In [175]:
l.sort()
l

[1, 1, 2, 3, 3, 4]

In [176]:
l.sort(reverse=True)
l

[4, 3, 3, 2, 1, 1]

In [177]:
k=set(l)
k

{1, 2, 3, 4}

In [4]:
l=[1,2,3,4,3,2,1]
l.insert(2,9)       # It will insert an new element at specified index
l

[1, 2, 9, 3, 4, 3, 2, 1]

In [5]:
l=[1,2,3,4,3,2,1]
l.pop(2)   # It will pop out an element from a list.at specified index.
l

[1, 2, 4, 3, 2, 1]