# Day 1

In [1]:
# 1. WAP to print 3 line message
s="""
Hi Good Morning
I am Dheeraj
This is Python. 
"""
print(s)

Hi Good Morning
I am Dheeraj
This is Python.

In [4]:
# 2.  WAP to demonstrate datatypes and casting
a=1
b=2.6
c="Dheeraj"
d=True
e={a,b,c}
f=(a,b,c,e)
for i in f:
    print(i,'\t',type(i))
print(f,'\t',type(f))
g=str(a)
h=str(b)
i=float(a)
print(g,'\t',type(g))
print(h,'\t',type(h))
print(i,'\t',type(i))

1 	 <class 'int'>
2.6 	 <class 'float'>
Dheeraj 	 <class 'str'>
{1, 2.6, 'Dheeraj'} 	 <class 'set'>
(1, 2.6, 'Dheeraj', {1, 2.6, 'Dheeraj'}) 	 <class 'tuple'>
1 	 <class 'str'>
2.6 	 <class 'str'>
1.0 	 <class 'float'>

In [6]:
# 3. WAP to take Name,Branch,Age from user input
Name=input("Please enter the Name : ")
branch=input("Please enter the Branch : ")
age=int(input("Please enter the age : "))
print("Name : "+Name)
print("Branch : "+branch)
print("Age : ",age)

Name : Dheeraj
Branch : DBDA
Age :  24

In [11]:
# 4. WAP to demonstrate conitional statements : if, if-else, elif ,else
a=int(input("Please enter the 1st number : "))
b=int(input("Please enter the 1st number : "))
c=int(input("Please enter the 1st number : "))
print("Finding largest of 3 number :{0}, {1}, {2}".format(a,b,c))
print("Using if and if-else -\t")
if(a>=b):
    if(a>=c):
        print(a," : is Greater")
    else:
        print(c," : is Greater")
else:
    if(b>=c):
        print(b," : is Greater")
    else:
        print(c," : is Greater")
print("\nUsing elif and else -\t")
if(a>=b and a>=c):
    print(a," : is Greater")
elif(b>=a and b>=c):
    print(b," : is Greater")
else:
    print(c," : is Greater")

Finding largest of 3 number :3, 3, 3
Using if and if-else -
3  : is Greater

Using elif and else -
3  : is Greater

# Day-2

In [15]:
# 1. WAP to print numbers from 2 to 30 with step size of 3
for i in range(2,31,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [16]:
# 2. WAP to use pass keyword in for loop
for i in range(0,10):
    if i%2==0:
        print(i," : Even")
    else:
        pass

0  : Even
2  : Even
4  : Even
6  : Even
8  : Even

In [17]:
# 3. WAP to use if in String
s="Good Morning"
if "Good" in s:
    print("Text match found")
else:
    print("Text match not found")

Text match found

In [31]:
# 4. WAP to String in alphabatical order
s="dheeraj"
l=[]
for i in s.lower():
    l.append(ord(i))
print("Before sorting : ",s)
for i in range(0,len(s)):
    for j in range(i+1,len(s)):
        if(l[i]>l[j]):
            d=l[i]
            l[i]=l[j]
            l[j]=d
s=""
for i in l:
    s=s+chr(i)
print("After sorting : ",s)

Before sorting :  dheeraj
After sorting :  adeehjr

In [ ]:
# 5. WAP to demonstrate String format
s="{} is pet animal,\n{} is reptile,\n{} is wild animal."
s=s.format("Cat","Lizard","Tiger")
print(s)

In [18]:
# 6. WAP to Edit or update Tuple elements
t1=("Chair","Table","Bench")
t2=("Fan",)
print("Tuple elements : ",t1)
t1=t1+t2
print(t1)
l1=list("List elements : ",t1)
l1[len(l1)-1]="TableFan"
print("Updated list elements : ",l1)
t1=tuple(l1)
print("Updated to list elements : ",t1)

('Chair', 'Table', 'Bench')
('Chair', 'Table', 'Bench', 'Fan')
['Chair', 'Table', 'Bench', 'TableFan']
('Chair', 'Table', 'Bench', 'TableFan')

# Day-3

In [1]:
# 1. Using for loop, write and run a Python program for this algorithm. To print out n! (n factorial) from 0! to 10! :
n=int(input("Please enter the range : "))
for i in range(1,n+1):
    fact=1
    for j in range(1,i+1):
        fact=fact*j
    print("Factorial of {} : {}! = {}".format(j,j,fact))

Factorial of 1 : 1! = 1
Factorial of 2 : 2! = 2
Factorial of 3 : 3! = 6
Factorial of 4 : 4! = 24
Factorial of 5 : 5! = 120
Factorial of 6 : 6! = 720
Factorial of 7 : 7! = 5040
Factorial of 8 : 8! = 40320
Factorial of 9 : 9! = 362880
Factorial of 10 : 10! = 3628800

In [2]:
# 2. Write a program to display 3 line message
s=""""
Hi I am Dheeraj
From Srikakulam
Studying PG Diploma
"""
print(s)
for i in s.split('\n'):
    print(i)

"
Hi I am Dheeraj
From Srikakulam
Studying PG Diploma

"
Hi I am Dheeraj
From Srikakulam
Studying PG Diploma

In [3]:
# 3. Write a program that take Student_Number, Name, Branch and University from user. Print the read details.
Student_Number=int(input("Please enter Student number : "))
Name=input("Please enter the Name : ")
Branch=input("Please enter the Branch : ")
University=input("Please enter the University : ")
print("Entered Details :\n")
print("\tStudent number : ",Student_Number)
print("\tStudent Name : ",Name)
print("\tStudent Branch : ",Branch)
print("\tStudent University : ",University)

Entered Details :

	Student number :  1
	Student Name :  Dheeraj
	Student Branch :  EEE
	Student University :  KIIT

In [4]:
"""
### 4. Create a module consisting of 2 functions 
"area_Rectangle", "area_Square". Import the module and 
perform the following operations:
1. Calculate the area of Square only by importing only one method.
2. Calculate the area of Rectangle only by importing only one method.
3. Calculate the area of Square and Rectangle by importing complete module.
"""
# In AreaSqRect.py
def area_Rectangle():
    l=float(input("Please enter the length : "))
    b=float(input("Please enter the bredth : "))
    area=l*b
    return area
def area_Square():
    s=float(input("Please enter the length of square side : "))
    area=s*s
    return area
# In AreaSqRectMain.py
#import AreaSqRect
"""
a1=AreaSqRect.area_Rectangle()
print("Area of rectriangle : ",a1)
a2=AreaSqRect.area_Square()3
print("Area of Square : ",a2)
"""
def SqRectArea():
    a1=area_Rectangle()
    print("Area of rectriangle : ",a1)
    a2=area_Square()
    print("Area of Square : ",a2)
SqRectArea()

Area of rectriangle :  30.0
Area of Square :  81.0

In [5]:
### 5. Python program to demonstrate if, elif and else by checking larges of three numbers
a=int(input("Please enter the 1st number : "))
b=int(input("Please enter the 1st number : "))
c=int(input("Please enter the 1st number : "))
print("Finding largest of 3 number :{0}, {1}, {2}".format(a,b,c))
print("Using if and elif -\t")
if(a>=b and a>=c):
    print(a," : is Greater")
elif(b>=c and  b>=c):
    print(b," : is Greater")
else:
    print(c," : is Greater")

Finding largest of 3 number :55, 33, 77
Using if and elif -
77  : is Greater

In [13]:
# 6. Program to check whether a number is perfect or not
n=int(input("Please enter the number : "))
s=0
for i in range(1,n+1):
    if(n%i==0):
        s=s+i
if(s==(n*2)):
    print(n," : is a perfect number")
else:
    print(n," : is not a perfect number")

6  : is a perfect number

In [15]:
# 7. Read a multiword string and print them in alphabetical order
s1="Dheeraj Chandan"
print("Before sorting : ",s1.lower())
s2=[i for i in s1.lower()]
s2.sort()
s1=[i for i in s2]
s=""
for i in s1:
    s=s+i
print("After sorting : ",s)

Before sorting :  dheeraj chandan
After sorting :   aaacddeehhjnnr

In [16]:
"""
### 8. Consider the following dictionary:
{ "i10":"Blue", "Kushaq": "Red", "i20": White"}
1. How many cars are there in the dictionary
2. Remove the car i10 from the dictionary
3. Change the value of Kushaq to Black
"""
car={"i10":"Blue", "Kushaq": "Red", "i20": "White"}
print("Dictionary items : ",car)
print("Length of dictinary items : ",len(car))
car.pop("i10")
print("After removing \"i10\" car : ",car)
car["Kushaq"]="Black"
print("After updating color of \"Kushaq\" : ",car)

Dictionary items :  {'i10': 'Blue', 'Kushaq': 'Red', 'i20': 'White'}
Length of dictinary items :  3
After removing "i10" car :  {'Kushaq': 'Red', 'i20': 'White'}
After updating color of "Kushaq" :  {'Kushaq': 'Black', 'i20': 'White'}

In [17]:
# 9. Write a program to sort elements of a tuple
t1=(7,6,2,5,4,1,3)
t2=("Dheeraj","Ramesh","Chandan")
print(t1)
print(t2)
l1=list(t1)
l2=list(t2)
l1.sort()
l2.sort()
t1=tuple(l1)
t2=tuple(l2)
print(t1)
print(t2)

(7, 6, 2, 5, 4, 1, 3)
('Dheeraj', 'Ramesh', 'Chandan')
(1, 2, 3, 4, 5, 6, 7)
('Chandan', 'Dheeraj', 'Ramesh')

In [18]:
# 10. Implement contact book using dictionaries name, address, number, locality and city by taking input from user
book=dict({})
book.update({"name":input("Please enter the name : ")})
book.update({"address":input("Please enter the address : ")})
book.update({"number":input("Please enter the number : ")})
book.update({"locality":input("Please enter the locality : ")})
book.update({"city":input("Please enter the city : ")})
book

{'name': 'Dheeraj',
 'address': 'BlrEc',
 'number': '12345',
 'locality': 'Urban',
 'city': 'Blr'}

In [ ]:
"""
###  11. Write a python program to create dictionary, list, tuple with the 
following details: [id, name, job role, joining date]
Perform the following opeartions:
1. Add 5 employee to each
2. Check senior most employee
3. Add new employee to the record
4. Sort the employee by name
5. Remove an employee from the record
6. Use function that takes 3 parameter and display prefix, fname and
lname of the employee
7. Print the employee with salary above 80,000
"""

In [21]:
# 12. Program to demonstrate fibonacci series using recursion
def f1(n2):
    if n2<=1:
        return n2
    else:
        return f1(n2-1)+f1(n2-2)
def f2(n1):
    for i in range(n1):
        print(f1(i))

r=10
f2(r)

0
1
1
2
3
5
8
13
21
34

# Day 4

In [2]:
# 1. Create a vehicle class with attributes number of wheels, number of airbags, max speed etc. Create a constructor and method that displays vehicles' information
class vehicle:
    def __init__(self,NumOfWheels,NumOfAirbag,MaxSpeed):
        self.NumOfWheels=NumOfWheels
        self.NumOfAirbag=NumOfAirbag
        self.MaxSpeed=MaxSpeed
    def vehicleInfo(self):
        print("Number of wheels : {}".format(self.NumOfWheels))
        print("Number of Airbag : {}".format(self.NumOfAirbag))
        print("Maximum Speed : {}".format(self.MaxSpeed))
n_wheel=int(input("Please enter the number of wheels : "))
n_Airbag=int(input("Please enter the number of Airbag : "))
Max_speed=float(input("Please enter the Maximum Speed (kmph) : "))
v=vehicle(n_wheel,n_Airbag,Max_speed)
v.vehicleInfo()

Number of wheels : 4
Number of Airbag : 6
Maximum Speed : 8.0

In [3]:
""" ## 2.  Create a child class Bus from Vehicle vlass that inherit all 
the of the variables and methods from vehicle class. The 
bus class has its own attributes: number of doors, fare per 
kilometer, number of seats along with inherited attributes.
Write a method to calculate bus fare by accepting distance 
in kilometer as parameter."""
class Vehicle:
    def __init__(self,BatteryVehicle):
        self.BatteryVehicle=BatteryVehicle
    def vehicleType(self):
        return "Vehicle runs on Battery ? : {}".format(self.BatteryVehicle)
class Bus(Vehicle):
    def __init__(self,NumOfDoors,NumOfSeats,FareKMPH):
        super().__init__(False)
        self.NumOfDoors=NumOfDoors
        self.FareKMPH=FareKMPH
        self.NumOfSeats=NumOfSeats
    def Vehicledisplay(self):
        s=Vehicle.vehicleType(self)
        print(s)
        print("Number of Doors : {}".format(self.NumOfDoors))
        print("Number of Seats : {}".format(self.NumOfSeats))
        print("Maximum Speed (Kmph): {}".format(self.FareKMPH))
n_door=int(input("Please enter the number of doors : "))
n_seats=int(input("Please enter the number of seats : "))
MaxKmph_speed=float(input("Please enter the Maximum Speed (kmph) : "))
b=Bus(n_door,n_seats,MaxKmph_speed)
b.Vehicledisplay()

Vehicle runs on Battery ? : False
Number of Doors : 4
Number of Seats : 6
Maximum Speed (Kmph): 9.0

In [1]:
# 3. Create a class employee, create an object(any), create a method to perform tasks(any), Call the method
class employee:
    def __init__(self,eid,ename):
        self.eid=eid
        self.ename=ename
    def eread(self):
        self.eid=int(input("Please enter the employee id : "))
        self.ename=input("Please enter the employee name : ")
    def edisp(self):
        print("Employee ID : ",self.eid)
        print("Employee name : ",self.ename)
class emp(employee):
    def __init__(self,phoneNum):
        super().__init__(0,'')
        self.phoneNum=phoneNum
    def ePhread(self):
        self.phoneNum=int(input("Please enter the employeed phone : "))
    def display(self):
        self.eread()
        self.ePhread()
        self.edisp()
        print("Employee Phone : ",self.phoneNum)
e2=emp(0)
e2.display()

Employee ID :  1
Employee name :  Dheeraj
Employee Phone :  12345

In [2]:
# 4. Create class Area with method names: areaSq , areaRect and then new class AreaCalc to display calculated area it based on user choice
class Area:
    def __init__(self,l,b,s):
        self.l=l
        self.b=b
        self.s=s
    def areaRect(self):
        self.l=float(input("Please enter the length : "))
        self.b=float(input("Please enter the bredth : "))
        area=self.l*self.b
        return area
    def areaSq(self):
        self.s=float(input("Please enter the side : "))
        area=self.s*self.s
        return area
class AreaCalc(Area):
    def __init__(self):
        super().__init__(0,0,0)
    def calc(self):
        print("Press 1 for rectriangle area ")
        print("Press 2 for square area ")
        ch=int(input("Enter choice : "))
        if (ch==1):
            ar=self.areaRect()
            print("Area of rectriangle : ",end='')
        elif (ch==2):
            ar=self.areaSq()
            print("Area of square : ",end='')
        else:
            pass
        print(ar)
a=AreaCalc()
a.calc()

Press 1 for rectriangle area
Press 2 for square area
Area of square : 25.0

In [ ]:
# 5. WAP to multiply till 'n' using recurssion

In [ ]:
# 6. WAP to create 'course' class which takes 'marks' and 'courseName' and then create 5 different objects and then print it

In [ ]:
# 7.WAP and execute in terminal

In [ ]:
# 8. WAP to create 2 functions: AreaSq() and AreaRect() and exectue by creating a module

In [ ]:
# 9. WAP to create 'school' parent class and 'student' child class. 'school':[SchoolName,Address,PhoneNum] . 'student':[sname,sroll,smarks]

In [ ]:
# 10. Create class Area with method names: areaSq , areaRect and then new class AreaCalc to display calculated area it based on user choice
class Area:
    def __init__(self,l,b,s):
        self.l=l
        self.b=b
        self.s=s
    def areaRect(self):
        self.l=float(input("Please enter the length : "))
        self.b=float(input("Please enter the bredth : "))
        area=self.l*self.b
        return area
    def areaSq(self):
        self.s=float(input("Please enter the side : "))
        area=self.s*self.s
        return area
class AreaCalc(Area):
    def __init__(self):
        super().__init__(0,0,0)
    def calc(self):
        print("Press 1 for rectriangle area ")
        print("Press 2 for square area ")
        ch=int(input("Enter choice : "))
        if (ch==1):
            ar=self.areaRect()
            print("Area of rectriangle : ",end='')
        elif (ch==2):
            ar=self.areaSq()
            print("Area of square : ",end='')
        else:
            pass
        print(ar)
a=AreaCalc()
a.calc()

# Day 5

In [6]:
# 1. To show DataBases in Mysql server
import mysql.connector as sqlCon
con=sqlCon.connect(host='localhost', user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
cus.execute("show databases")
res=cus.fetchall()
for i in res:
    print(i)

('cdac',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [7]:
# 2. To show DataBases in Mysql server
import mysql.connector as sqlCon
con=sqlCon.connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
cus.execute("show tables")
res=cus.fetchall()
for i in res:
    print(i)

('employee_1',)
('employee_2',)
('employee_3',)
('view_1',)

In [8]:
# 3. WAP for checking the description of a table
import mysql.connector as myCon
con=myCon.connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
q1='desc employee_1'
cus.execute(q1)
res=cus.fetchall()
for i in res:
    print(i)

('Employeeid', 'int', 'YES', '', None, '')
('Name', 'text', 'YES', '', None, '')
('Gender', 'varchar(15)', 'YES', '', None, '')
('Salary', 'float', 'YES', '', None, '')
('Department', 'varchar(15)', 'YES', '', None, '')
('Experience', 'int', 'YES', '', None, '')

In [9]:
# 4. WAP to fetch data from sql database (select)
import mysql.connector as mc
con=mc.connect(host = 'localhost', user = 'cdac',password='cdacacts',database='dbda')
c=con.cursor()
q="select * from employee_1"
c.execute(q)
res=c.fetchall()
for i in res:
    print(i)

(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 3)

In [1]:
# 5. WAP for prepared statement for select
import mysql.connector as sqlCon
con=sqlCon.Connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
q1="select * from employee_1 where Employeeid = %s "
n=int(input("Please enter the employee id number : "))
id=list([n])
cus.execute(q1,id)
res=cus.fetchall()
for i in res:
    print(i)

(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)

In [1]:
# 6. WAP to insert new row in table
import mysql.connector as sqlCon
con=sqlCon.connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
q1="insert into employee_1(Employeeid,Name) values(10,\"Dheeraj\")"
cus.execute(q1)
con.commit()
print("Insertion - Number of rows effected : ",cus.rowcount)
cus.execute("select * from employee_1")
res=cus.fetchall()
for i in res:
    print(i)

Insertion - Number of rows effected :  1
(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 3)
(10, 'Dheeraj', None, None, None, None)

In [2]:
# 7. WAP to insert new row in table using prepared statement
import mysql.connector as sqlCon
con=sqlCon.connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
q1="insert into employee_1(Employeeid,Name) values(%s,%s)"
eid=int(input("Please enter the employee ID : "))
ename=input("Please enter the employee name : ")
id=[eid,ename]
cus.execute(q1,id)
print("Number of reows effeced : ",cus.rowcount)
con.commit()
cus.execute('select * from employee_1')
res=cus.fetchall()
for i in res:
    print(i)

Number of reows effeced :  1
(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 3)
(10, 'Dheeraj', None, None, None, None)
(10, 'Dheeraj', None, None, None, None)

In [4]:
# 8. WAP to delete new row in table
import mysql.connector as sqlCon
con=sqlCon.connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
q1="delete from employee_1 where Employeeid=10"
cus.execute(q1)
con.commit()
print("Insertion - Number of rows effected : ",cus.rowcount)
cus.execute("select * from employee_1")
res=cus.fetchall()
for i in res:
    print(i)

Insertion - Number of rows effected :  2
(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 3)

In [5]:
# 9. WAP to delete new row in table using prepared statement.
import mysql.connector as sqlCon
con=sqlCon.connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
q1="delete from employee_1 where Employeeid=%s"
eid=input("Please enter the employee id : ")
id=[eid,]
cus.execute(q1,id)
con.commit()
print("Number of rows effected : ",cus.rowcount)

cus.execute("select * from employee_1")
res=cus.fetchall()
for i in res:
    print(i)

Number of rows effected :  0
(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 3)

In [6]:
# 10. WAP to update row in table using normal statement
import mysql.connector as sqlCon
con=sqlCon.connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
q1="update employee_1 set Salary=Salary+1000 where Employeeid=9"
cus.execute(q1)
print("Number of rows effected : ",cus.rowcount)
con.commit()
cus.execute("select * from employee_1")
res=cus.fetchall()
for i in res:
    print(i)

Number of rows effected :  1
(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 51000.0, 'IT', 3)

In [7]:
# 11. WAP to update row in table using prepared statement
import mysql.connector as sqlCon
con=sqlCon.connect(host='localhost',user = 'cdac',password='cdacacts',database='dbda')
cus=con.cursor()
q1="update employee_1 set Salary=Salary-1000 where Employeeid=%s"
eid=int(input("Please enter the employee id : "))
id=[eid]
cus.execute(q1,id)
print("Number of rows affected : ",cus.rowcount)
con.commit()
cus.execute("select * from employee_1")
res=cus.fetchall()
for i in res:
    print(i)

Number of rows affected :  1
(5, 'Priya Sharma', 'Female', 45000.0, 'IT', 6)
(6, 'Rahul Patel', 'Male', 65000.0, 'Sales', 5)
(7, 'Nisha Gupta', 'Female', 55000.0, 'Marketing', 4)
(8, 'Vikram Singh', 'Male', 75000.0, 'Finance', 7)
(9, 'Aarti Desai', 'Female', 50000.0, 'IT', 3)

# Day 6

In [5]:
# 1. WAP to create to dataframes and combine both and write it to excel
import pandas as pd
#print(df)
folderpath="C:\\Users\\KIIT\\Desktop\\Python\\Excels_Csv"
filename="\\ExcelExample.xlsx"
filepath=folderpath+filename
data=pd.ExcelWriter(filepath)
set1={'a':[1,2,3,4,5],'b':[10,20,30,40,50],'c':[11,21,31,41,51]}
set2={'A':[11,22,33,44,55],'B':[50,10,20,300,202],'C':[11,12,13,14,15]}
df=pd.DataFrame(set1)
print(df,'\n')
for i in set2.items():
    df[i[0]]=i[1]
print(df,'\n')
#df=pd.DataFrame(set1)
df.to_excel(filepath,sheet_name='Sheet1',startrow=0,startcol=0)
#df=pd.DataFrame(set2)
#df.to_excel(filepath,sheet_name='Sheet11',startrow=5,startcol=5)
readData=pd.read_excel(filepath)
print(readData)
#readData.iloc[0:,0:]
#print(readData.columns)
#print(1) if 'Unnamed: 0' in readData.columns else print(0)
#subdata=readData.iloc[2:,2:5]
#subdata.to_excel(filepath,sheet_name='dataset2')

   a   b   c
0  1  10  11
1  2  20  21
2  3  30  31
3  4  40  41
4  5  50  51

   a   b   c   A    B   C
0  1  10  11  11   50  11
1  2  20  21  22   10  12
2  3  30  31  33   20  13
3  4  40  41  44  300  14
4  5  50  51  55  202  15

   Unnamed: 0  a   b   c   A    B   C
0           0  1  10  11  11   50  11
1           1  2  20  21  22   10  12
2           2  3  30  31  33   20  13
3           3  4  40  41  44  300  14
4           4  5  50  51  55  202  15