In [ ]:
if True:
    print("B.DHEERAJ CHANDAN")

In [ ]:
if 1:
    print("B.DHEERAJ CHANDAN")

In [ ]:
if 2==3:
    print("TRUE")
else:
    print("FALSE")

In [ ]:
str="dheeraj"
if str=="dheeraj":
    print("TRUE")
else:
    print("FALSE")

In [ ]:
str="dheeraj"
if str.upper()=="DHEERAJ":
    print("TRUE")
else:
    print("FALSE")

In [ ]:
N=123
if N=="123":

In [ ]:
for n in range(11):
    print(n)

In [ ]:
str="DHEERAJ"
for CHR in str:
    print(CHR)

In [ ]:
str="DHEERAJ"
for CHR in str:
    print(str)

In [ ]:
for n in range(11):
    if((n%2)==0):
        print(n)

In [ ]:
for n in range(11):
    if((n%2)==1):
        print(n)

In [ ]:
for n in range(11):
    if((n%2)==0):
        print("EVEN NUMBER IS:",n)
    else:
        print("ODD NUMBER IS:",n)

In [ ]:
for n in range(11):
    if((n%2)==0):
        print(f'EVEN NUMBER IS:{n}')
    else:
        print(f'ODD NUMBER IS:{n}')

In [ ]:
for n in range(11):
    if((n%2)==0):
        print('EVEN NUMBER IS:{}'.format(n))
    else:
        print('ODD NUMBER IS:{}'.format(n))

In [ ]:
#PRIME NUMBER
c=0
for n1 in range(100):
    for n2 in range(n1):
        n3=n1
        n4=n2
        n=n3%n4
        if (n==0):
            c=c+1
        if(c==2):
            print("PRIME NUMBERS")
        else:
            print("NOT A PRIME NUMBERS")

In [ ]:
for n1 in range(100):
    c=0
    for n2 in range(100):
        if(((n1+1)%(n2+1))==0):
            c=c+1
    if(c==2):
        print(f'{n1+1} PRIME NUMBER')
    else:
        print(f'{n1+1} NOT A PRIME NUMBER')

In [ ]:
num=int(input())
c=0
for n1 in range(num):
    if((num%(n1+1))==0):
        c=c+1
if(c==2):
    print(f'{n1+1} PRIME NUMBER')
else:
    print(f'{n1+1} NOT A PRIME NUMBER')

In [ ]:
NUM=int(input())
if(NUM==1):
    print("ONE")
elif(NUM==2):
    print("TWO")
elif(NUM==3):
    print("THREE")
else:
    print("ERRORS")

In [ ]:
c=[(1,2),(3,4),(5,6)]
for (n,m) in c:
    print(c)

In [ ]:
c=[(1,2),(3,4),(5,6)]
for (n,m) in c:
    print(n)
    print(m)

In [ ]:
for n in range(10):
    n=n*n
    print(n)

In [ ]:
print("0"+"\n1")
a=0
b=1
sum=0
for n in range(7):
    sum=a+b
    print(sum)
    a=b
    b=sum

In [ ]:
#PERFECT NUMBER
sum=0
n=int(input())
for n1 in range(n):
    if((n%(n1+1))==0):
        sum=sum+(n1+1)
if(sum==(2*n)):
    print("PERFECT NUMBER")
else:
    print("NOT A PERFECT NUMBER")

In [ ]:
#ARMSTRONG NUMBER
n=int(input())
c=0
sum=0
t=n
while(n!=0):
    c=n%10
    sum=sum+(c*c*c)
    print(sum)
    n=n//10 # '/'is floating ; '//' is absolute number
if(sum==t):
    print(t," IS AN ARMSTRONG NUMBER")
else:
    print(t," IS NOT AN ARMSTRONG NUMBER")

In [ ]:
#PALINDROME NUMBER
n=int(input())
c=0
sum=0
t=n
while(n!=0):
    c=n%10
    sum=(sum*10)+c
    print(sum)
    n=n//10
if(sum==t):
    print("PALINDROME NUMBER ",t)
else:
    print("NOT A PALINDROME NUMBER ",t)

In [ ]:
s='MANAM'
c=0
n=0
S1=''
S2=''
for ch in s:
    c=c+1
for ch in s:
    n=n+1
    if(n<=(c/2)):
        S1=ch+S1
    else:
        S2=ch+S2
if(S1==S2):
    print("PALINDROME STRING")
else:
    print("NOT A PALINDROME STRING")

In [ ]:
n=10
while(n!=0):
    print(n)
    n=n-1

In [ ]:
s='DHEERAJ'
ch in s
while(ch!=''):
    print(ch)

In [ ]:
n=0
while(n!=10):
    print(n)
    n=n+1

In [ ]:
a=[1,2,3,4,5,6,7,8,9,0]
n=len(a)
while(n>0):
    print(a[n-1])
    n=n-1

In [ ]:
a=(1,2,3,4,5,6,7,8,9,0)
n=len(a)
while(n>0):
    print(a[n-1])
    n=n-1

In [ ]:
#HCF
a=6
b=18
if(a<b):
    n=a
else:
    n=b
for num in range(n):
    if((a%(num+1))==0 and (b%(num+1))==0):
        hcf=num+1
        print(hcf)

In [ ]:
a=(1,2,3,4,5,6,7,8,9,0)
n=0
while(n<len(a)):
    print(a[n-1])
    n=n+1

In [ ]:
a=[1,2,3,4,5,6,7,8,9,0]
n=0
while(n<len(a)):
    print(a[n-1])
    n=n+1

In [ ]:
num=1
while(num<=10):
    print(num)
    num=num+1

In [ ]:
num=10
while(num>=1):
    print(num)
    num=num-1

In [ ]:
num=1
while(num<=10):
    print(num)
    num=num+2

In [ ]:
num=1
while(num<=10):
    if(num%2==0):
        print("EVEN: ",num)
    else:
        print("ODD: ",num)
    num=num+1

In [ ]:
#PRIME NUMBER
for i in range(10):
    c=0
    for j in range((i+1)): 
        if((i+1)%(j+1)==0):
            c=c+1
    if(c==2):
        print("prime number ",(i+1))
    else:
        print("not a prime number ",(i+1))

In [ ]:
#PRIME NUMBER
n=int(input())
c=0
for i in range(n):
    if(n%(i+1)==0):
        c=c+1
if(c==2):
    print("prime number ",(i+1))
else:
    print("not a prime number ",(i+1))

In [ ]:
for i in range(1,7,2):
    print(i)

In [ ]:
count=0
str="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
for letter in str:
    print(letter," : ",count)
    count=count+1

In [ ]:
str="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
for item in enumerate(str):
    print(item)

In [ ]:
str="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
for n,item in enumerate(str):
    print(n,":",item)

In [ ]:
str="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
for n,item in enumerate(str):
    print(item)
    print(n,"\n")

In [ ]:
n=int(input("ENTER THE RANGE:"))
print("EVEN NUMBERS:")
for i in range(1,n):
    if(i%2==0):
        print(i)

In [ ]:
str="This is a cat"
s=" "+str
a=""
c=0
for letter in s:
    if(letter==' '):
        ch=""
        ch=ch+s[c+1].upper()
        a=a+ch+"."
    c=c+1 
print("INPUT: ",s)
print("OUTPUT: ",a)

In [ ]:
str="This is a cat"
s=" "+str
c=0
ch=" "
for letter in s:
    if(letter==' '):
        ch=ch+s[c+1].upper()+"."
    c=c+1 
print("INPUT: ",s)
print("OUTPUT: ",ch)

In [ ]:
file1=[1,2,3,4,5]
file2=['a','b','c','d','e']
allfile=zip(file1,file2)
print(allfile)

In [ ]:
for item in zip(file1,file2):
    print(item)

In [ ]:
str="A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z"
num="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,1,18,19,20,21,22,23,24,25,26"
c=0
for i in str:
    for item in zip(i,num[c]):
        print(item)
        c=c+1

In [ ]:
list(range(1,10,3))

In [ ]:
a1=[1,2,3,4,5]
a2=[6,7,8,9,0]
str=zip(a1,a2)
print(str)

In [ ]:
a1=[1,2,3,4,5]
a2=[6,7,8,9,0]
for item in zip(a1,a2):
    print(item)

In [ ]:
a1=[1,2,3,4,5]
a2=[6,7,8,9,0]
for item,a in zip(a1,a2):
    print(item)

In [ ]:
a1=[1,2,3,4,5]
a2=[6,7,8,9,0]
for item,a in zip(a1,a2):
    print(a)

In [ ]:
a1=[1,2,3,4,5]
a2=[6,7,8,9,0]
for a,b in enumerate(a2):
    print(a,":",b)

In [ ]:
a1=[1,2,3,4,5]
a2=[6,7,8,9,0]
for a,b in enumerate(a1):
    print(a,":",b)

In [ ]:
list(zip(a1,a2))

In [ ]:
a1=[1,2,3,4,5]
a2=[1,2,3,4,5,6,7,8,9,0]
list(zip(a1,a2))

In [ ]:
1 in [1,2,3,4,5]

In [ ]:
1 in (1,2,3,4,5)

In [ ]:
1 in {1,2,3,4,5}

In [ ]:
1 in ['1','2','3']

In [ ]:
'1' in ['1','2','3']

In [ ]:
from random import shuffle
a=[1,2,3,4,5,6,7,8,9,0]
shuffle(a)
print(a)

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
from random import randint
a=[1,2,3,4,5,6,7,8,9,0]
s=randint(0,100)
print(s)

In [ ]:
a="DHEERAJ"
s=[]
for item in a:
    s.append(item)
print(s)

In [ ]:
a="DHEERAJ"
s=[item for item in a]
print(s)

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9,0]
s=[n for n in zip(a,b)]
print(s)

In [ ]:
s=[n if(n%2==0) else "is odd" for n in range(10)]
print(s)

In [ ]:
mylist=[]
for i in range(1,2):
    for j in range(1,2):
        mylist.append(i*j)
print(mylist,"\n")

In [ ]:
a=[1,2,3,4,5]
s=len(a)
s

In [ ]:
a=(1,2,3,4,5)
s=len(a)
s

In [ ]:
s="this is a cat"
s1=" "+s
c=0
ch1=""
ch2=""
s2=s.split()
size=len(s2)
n=0
for letter in s1:  
    if(letter==" " and n!=size-1):
        ch1=ch1+s1[c+1].upper()+"."
        n=n+1
    else:
        ch2=s2[size-1]
    c=c+1
ch=ch1+ch2.upper()
print("",ch)

In [ ]:
s1="this is a cat"
s2=" "+s1
c=0
d=0
n=0
c1=""
for ch in s2:
    if(ch==" "):
        c=c+1
for ch in s2:
    if(ch==" " and d!=c-1):
        c1=c1+s2[n+1].upper()+"."
        d=d+1
    if(d==c-1):
        c1=c1+s2[n+1:].upper()
        break
    n=n+1
    
c1

In [ ]:
if 4:
    print('true')
else:
    print('false')

In [ ]:
loc=4
if loc==1:
    print('one')
elif loc==2:
    print('two')
elif loc==3:
    print('three')
else:
    print('no number')

In [ ]:
item=[1,2,3]
for a in item:
    print('{} is a number'.format(a))

In [ ]:
len(item)

In [ ]:
tup=(1,2,3)
for a in tup:
    print(a)

In [ ]:
len(tup)

In [ ]:
a=[(1,2),(3,4),(4,5),(6,7)]
for b in a:
    print(b)

In [ ]:
len(a)

In [ ]:
a=[(1,2),(3,4),(4,5),(6,7)]
for (m,n) in a:
    print(m)
    print(n)

In [ ]:
a={'a':1,'b':2,'c':3}
for item,val in a.items():
   print(val)

In [ ]:
x=0
while x<5:
    print(x)
    x=x+1

In [3]:
x=1
while x<5:
    pass
    print(x)
    x=x+1
    
print("THE END")

1
2
3
4
THE END

In [2]:
x=1
while x<5:
    print(x)
    pass
    x=x+1
print("THE END")

1
2
3
4
THE END

In [1]:
i=0
for c in 'DHEERAJ':
    print('At index {} charcter is {}'.format(i,c))
    i=i+1

At index 0 charcter is D
At index 1 charcter is H
At index 2 charcter is E
At index 3 charcter is E
At index 4 charcter is R
At index 5 charcter is A
At index 6 charcter is J

In [2]:
range(1,10)

range(1, 10)

In [3]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
set(range(1,10))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
word='abcde'
for i,c in enumerate(word):
    print(c)

a
b
c
d
e

In [13]:
a1=[1,2,3,4,5,6]
a2=['a','b','c']
a3=[100,200,300]
for item in zip(a1,a2,a3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [14]:
list(zip(a1,a2,a3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [15]:
list(zip(a1,a2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [20]:
a1=[1,2,3,4,5,6]
a2=['a','b','c']
a3=[100,200,300]
for a,b,c in zip(a1,a2,a3):
    print(a)

1
2
3

In [21]:
print(f'{a},{b},{c}')

3,c,300

In [22]:
d={'a':100}
100 in d.values()

True

In [24]:
'a' in d.keys()

True

In [1]:
a='DHEERAJ'
b=[]
for c in a:
    b.append(c)
b

['D', 'H', 'E', 'E', 'R', 'A', 'J']

In [3]:
a='12345'
b=[]
for c in a:
    b.append(c)
b

['1', '2', '3', '4', '5']

In [4]:
a='abcde'
b=[c for c in a]
b

['a', 'b', 'c', 'd', 'e']

In [5]:
b=[c for c in 'CHANDAN']
b

['C', 'H', 'A', 'N', 'D', 'A', 'N']

In [6]:
b=[num for num in range(10)]

In [7]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
b=[num for num in range(1,15)]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
b=[num*2 for num in range(1,10)]
b

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
b=[num**2 for num in range(1,10)]
b

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
b=[num for num in range(1,10) if num%2==0]
b

[2, 4, 6, 8]

In [12]:
b=[num for num in range(1,10) if num%2==1]
b

[1, 3, 5, 7, 9]

In [14]:
#TEMPERATURE TO FAHRIENHEIT AND VICE VERSA
#    FAHRIENHEIT  =  (TEMPERATURE*(9/5))+32
t=[0,10,20,34.5]
f=[((9/5)*temp)+32 for temp in t]
f

[32.0, 50.0, 68.0, 94.1]

In [16]:
f=[]
for temp in t:
    f.append((temp*(9/5))+32)
f

[32.0, 50.0, 68.0, 94.1]

In [17]:
a=['even' if x%2==0 else 'odd' for x in range(0,10)]
a

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [19]:
a=[f'{x}:even' if x%2==0 else f'{x}:odd' for x in range(0,10)]
a

['0:even',
 '1:odd',
 '2:even',
 '3:odd',
 '4:even',
 '5:odd',
 '6:even',
 '7:odd',
 '8:even',
 '9:odd']

In [20]:
a=[f'{x}:even' if x%2==0 else f'{x}:odd' for x in range(0,5)]
a

['0:even', '1:odd', '2:even', '3:odd', '4:even']

In [21]:
a=[x if x%2==0 else f'{x}:odd' for x in range(0,10)]
a

[0, '1:odd', 2, '3:odd', 4, '5:odd', 6, '7:odd', 8, '9:odd']

In [26]:
a=[]
for x in range(1,4):
    for y in range(1,4):
        a.append(x*y)
a

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [27]:
a=[x*y for x in [1,2,3] for y in [1,2,3]]
a

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [28]:
a=[x*y for x in range(1,4) for y in range(1,4)]
a

[1, 2, 3, 2, 4, 6, 3, 6, 9]