# Name : B.Dheeraj Chandan ; PRN : ..25017 ; Statistics Assignment-1

Assignment1: Perform ETL operation on the given data

In [60]:
import warnings
warnings.filterwarnings('ignore')
# Setting precision level to 4 to show only upto 4 decimal points
import pandas as pd
pd.option_context('display.precision', 4)

Task1:Load both stocks data1 from the given healthdrink file

In [61]:
#Write here code
import pandas as pd
data=pd.read_excel("healthdrink.xlsx",sheet_name=["healthdrink_yes","healthdrink_no"])
hd_yes=data["healthdrink_yes"]
hd_no=data["healthdrink_no"]
print("HealthDrink No :\n",hd_no)
print("*"*50)
print("HealthDrink Yes :\n",hd_yes)

HealthDrink No :
     height_increase
0               5.3
1               9.0
2               5.7
3               5.5
4               5.4
..              ...
75              4.4
76              5.3
77              6.2
78              7.4
79              4.2

[80 rows x 1 columns]
**************************************************
HealthDrink Yes :
     height_increase
0               8.6
1               5.8
2              10.2
3               8.5
4               6.8
..              ...
74              6.5
75              8.1
76              7.2
77              8.8
78              9.8

[79 rows x 1 columns]

Task2:Identify the feature vector from the given file, and write the python code to keep that only in the data frame

In [1]:
#write code
import pandas as pd
glaxo_data=pd.read_csv("GLAXO.csv")
beml_data=pd.read_csv("BEML.csv")
glaxo_featureVector=glaxo_data[["Date","Close"]]
beml_featureVector=beml_data[["Date","Close"]]
glaxo_featureVector_df=pd.DataFrame(glaxo_featureVector)
beml_featureVector_df=pd.DataFrame(beml_featureVector)
print(type(beml_featureVector_df),'\n',type(beml_featureVector_df))

<class 'pandas.core.frame.DataFrame'>
 <class 'pandas.core.frame.DataFrame'>

Task3: Perform data transformation operation on time variable

In [63]:
#write code here
import pandas as pd
glaxo_data=pd.read_csv("GLAXO.csv")
beml_data=pd.read_csv("BEML.csv")
glaxo_data=glaxo_data.set_index(pd.DatetimeIndex(glaxo_data["Date"]))
beml_data=beml_data.set_index(pd.DatetimeIndex(beml_data["Date"]))
print(beml_data)
print("*"*50)
print(beml_data)

                  Date     Open     High      Low     Last    Close  \
Date
2010-01-04  2010-01-04  1121.00  1151.00  1121.00  1134.00  1135.60
2010-01-05  2010-01-05  1146.80  1149.00  1128.75  1135.00  1134.60
2010-01-06  2010-01-06  1140.00  1164.25  1130.05  1137.00  1139.60
2010-01-07  2010-01-07  1142.00  1159.40  1119.20  1141.00  1144.15
2010-01-08  2010-01-08  1156.00  1172.00  1140.00  1141.20  1144.05
...                ...      ...      ...      ...      ...      ...
2016-12-26  2016-12-26   965.00   965.05   935.00   950.10   950.25
2016-12-27  2016-12-27   960.70   989.00   952.35   974.00   975.70
2016-12-28  2016-12-28   980.75   985.00   970.15   977.00   974.40
2016-12-29  2016-12-29   977.10   997.95   974.55   985.15   986.05
2016-12-30  2016-12-30   986.00  1006.95   985.90  1004.00  1000.60

            Total Trade Quantity  Turnover (Lacs)
Date
2010-01-04              101651.0          1157.18
2010-01-05               59504.0           676.47
2010-01-06              128908.0          1482.84
2010-01-07              117871.0          1352.98
2010-01-08              170063.0          1971.42
...                          ...              ...
2016-12-26              398696.0          3783.63
2016-12-27              808561.0          7885.14
2016-12-28              367041.0          3592.49
2016-12-29              555233.0          5489.14
2016-12-30              460675.0          4606.48

[1739 rows x 8 columns]
**************************************************
                  Date     Open     High      Low     Last    Close  \
Date
2010-01-04  2010-01-04  1121.00  1151.00  1121.00  1134.00  1135.60
2010-01-05  2010-01-05  1146.80  1149.00  1128.75  1135.00  1134.60
2010-01-06  2010-01-06  1140.00  1164.25  1130.05  1137.00  1139.60
2010-01-07  2010-01-07  1142.00  1159.40  1119.20  1141.00  1144.15
2010-01-08  2010-01-08  1156.00  1172.00  1140.00  1141.20  1144.05
...                ...      ...      ...      ...      ...      ...
2016-12-26  2016-12-26   965.00   965.05   935.00   950.10   950.25
2016-12-27  2016-12-27   960.70   989.00   952.35   974.00   975.70
2016-12-28  2016-12-28   980.75   985.00   970.15   977.00   974.40
2016-12-29  2016-12-29   977.10   997.95   974.55   985.15   986.05
2016-12-30  2016-12-30   986.00  1006.95   985.90  1004.00  1000.60

            Total Trade Quantity  Turnover (Lacs)
Date
2010-01-04              101651.0          1157.18
2010-01-05               59504.0           676.47
2010-01-06              128908.0          1482.84
2010-01-07              117871.0          1352.98
2010-01-08              170063.0          1971.42
...                          ...              ...
2016-12-26              398696.0          3783.63
2016-12-27              808561.0          7885.14
2016-12-28              367041.0          3592.49
2016-12-29              555233.0          5489.14
2016-12-30              460675.0          4606.48

[1739 rows x 8 columns]

Tasks4:Calculate gain of Close price of both stock

In [64]:
#Write code here
import pandas as pd
glaxo_data=pd.read_csv("GLAXO.csv")
beml_data=pd.read_csv("BEML.csv")
#print(glaxo_data["Close"])
#print("*"*50)
#print(beml_data["Close"])
glaxo_data["Gain"]=glaxo_data["Close"].pct_change(periods=1)
beml_data["Gain"]=beml_data["Close"].pct_change(periods=1)
print(glaxo_data["Gain"])
print("*"*50)
print(beml_data["Gain"])

0            NaN
1      -0.005444
2       0.013422
3       0.006225
4      -0.005398
          ...
1734   -0.001283
1735   -0.007986
1736    0.000148
1737    0.009529
1738    0.000697
Name: Gain, Length: 1739, dtype: float64
**************************************************
0            NaN
1      -0.000881
2       0.004407
3       0.003993
4      -0.000087
          ...
1734   -0.021924
1735    0.026782
1736   -0.001332
1737    0.011956
1738    0.014756
Name: Gain, Length: 1739, dtype: float64

Task5: identify Null in the gain of close variable and remove null

In [65]:
#Write code here
import pandas as pd
glaxo_data=pd.read_csv("GLAXO.csv")
beml_data=pd.read_csv("BEML.csv")
#print(glaxo_data["Close"])
#print("*"*50)
#print(beml_data["Close"])
glaxo_data["Gain"]=glaxo_data["Close"].pct_change(periods=1)
beml_data["Gain"]=beml_data["Close"].pct_change(periods=1)

glaxo_data.dropna(inplace=True)
beml_data.dropna(inplace=True)
print(glaxo_data)
print("*"*50)
print(beml_data)

            Date     Open     High      Low    Last    Close  \
1     2010-01-05  1639.95  1639.95  1611.05  1620.0  1616.80
2     2010-01-06  1618.00  1644.00  1617.00  1639.0  1638.50
3     2010-01-07  1645.00  1654.00  1636.00  1648.0  1648.70
4     2010-01-08  1650.00  1650.00  1626.55  1640.0  1639.80
5     2010-01-11  1659.00  1694.95  1601.05  1630.0  1629.45
...          ...      ...      ...      ...     ...      ...
1734  2016-12-26  2703.00  2740.00  2677.00  2715.0  2723.50
1735  2016-12-27  2722.95  2725.00  2683.00  2692.0  2701.75
1736  2016-12-28  2701.75  2718.00  2690.00  2698.0  2702.15
1737  2016-12-29  2702.05  2739.00  2691.95  2710.0  2727.90
1738  2016-12-30  2730.00  2740.45  2705.00  2730.0  2729.80

      Total Trade Quantity  Turnover (Lacs)      Gain
1                  38148.0           622.58 -0.005444
2                  36519.0           595.09  0.013422
3                  12809.0           211.00  0.006225
4                  28035.0           459.11 -0.005398
5                  10566.0           173.40 -0.006312
...                    ...              ...       ...
1734                3953.0           107.15 -0.001283
1735               10600.0           286.10 -0.007986
1736                6050.0           163.44  0.000148
1737                7649.0           207.87  0.009529
1738                6513.0           177.65  0.000697

[1738 rows x 9 columns]
**************************************************
            Date     Open     High      Low     Last    Close  \
1     2010-01-05  1146.80  1149.00  1128.75  1135.00  1134.60
2     2010-01-06  1140.00  1164.25  1130.05  1137.00  1139.60
3     2010-01-07  1142.00  1159.40  1119.20  1141.00  1144.15
4     2010-01-08  1156.00  1172.00  1140.00  1141.20  1144.05
5     2010-01-11  1154.00  1159.45  1134.10  1140.10  1137.00
...          ...      ...      ...      ...      ...      ...
1734  2016-12-26   965.00   965.05   935.00   950.10   950.25
1735  2016-12-27   960.70   989.00   952.35   974.00   975.70
1736  2016-12-28   980.75   985.00   970.15   977.00   974.40
1737  2016-12-29   977.10   997.95   974.55   985.15   986.05
1738  2016-12-30   986.00  1006.95   985.90  1004.00  1000.60

      Total Trade Quantity  Turnover (Lacs)      Gain
1                  59504.0           676.47 -0.000881
2                 128908.0          1482.84  0.004407
3                 117871.0          1352.98  0.003993
4                 170063.0          1971.42 -0.000087
5                  58910.0           674.55 -0.006162
...                    ...              ...       ...
1734              398696.0          3783.63 -0.021924
1735              808561.0          7885.14  0.026782
1736              367041.0          3592.49 -0.001332
1737              555233.0          5489.14  0.011956
1738              460675.0          4606.48  0.014756

[1738 rows x 9 columns]

Task6: Make a new detination file(NewGlaxo.csv) and load the created data frame

In [66]:
#write code here
import pandas as pd
glaxo_data=pd.read_csv("GLAXO.csv")
beml_data=pd.read_csv("BEML.csv")
#print(glaxo_data["Close"])
#print("*"*50)
#print(beml_data["Close"])
glaxo_data["Gain"]=glaxo_data["Close"].pct_change(periods=1)

glaxo_data.dropna(inplace=True)
#print(glaxo_data)
#print("*"*50)
#print(beml_data)

New_glaxo_dataframe=pd.DataFrame(glaxo_data)
New_glaxo_dataframe.to_csv("NewGlaxo.csv")
New_glaxo_data=pd.read_csv("NewGlaxo.csv")
New_glaxo_data

,Unnamed: 0,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),Gain
0,1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58,-0.005444
1,2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09,0.013422
2,3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00,0.006225
3,4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11,-0.005398
4,5,2010-01-11,1659.00,1694.95,1601.05,1630.0,1629.45,10566.0,173.40,-0.006312
...,...,...,...,...,...,...,...,...,...,...
1733,1734,2016-12-26,2703.00,2740.00,2677.00,2715.0,2723.50,3953.0,107.15,-0.001283
1734,1735,2016-12-27,2722.95,2725.00,2683.00,2692.0,2701.75,10600.0,286.10,-0.007986
1735,1736,2016-12-28,2701.75,2718.00,2690.00,2698.0,2702.15,6050.0,163.44,0.000148
1736,1737,2016-12-29,2702.05,2739.00,2691.95,2710.0,2727.90,7649.0,207.87,0.009529
1737,1738,2016-12-30,2730.00,2740.45,2705.00,2730.0,2729.80,6513.0,177.65,0.000697